

/* Set the min-width so that when the window is resized the look will stay consistant */

.charsheet {
	background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/fondoespada.jpg"); /*black space with tiny white stars*/
    background-color: white;
    min-width: 800px;
}


/* Universal styling applied to all elements of these types */

h2 {
	font-size: 2em;
	margin-bottom: 10px;
	text-align: center;
}

label {
	display: inline-block;
	width: 31%;
}

input {
	display: inline-block;
	width: 165px;
}

img {
	max-height: 100px;
}

textarea {
	resize: vertical;
}

/* Targetted styling that only effects elements with these classes */
input.sheet-short {
	width: 17%;
}

select.sheet-dtype {
    vertical-align: top;
    width: 60px;
}
span.sheet-dee {
	font-size: 1.4em;
	font-weight: bold;
	left: -36%;
	padding-right: 4px;
	position: relative;
	top: 3px;
}

/* Targetted styling that only effects elements contained within the stated class */
.sheet-stats h3 {
	display: inline-block;
	text-align: left;
}

.sheet-stats h3:first-child {
	margin-left: 35%;
	margin-right: 15%;
}

.sheet-stats input {
	margin-right: 8%;
	width: 17%;
}
/***************************************/
/* FORMATO DE LAS PLANTILLAS DE TIRADAS*/
/***************************************/
  .sheet-rolltemplate-simple .sheet-charname,
  .sheet-rolltemplate-tres .sheet-charname,
  .sheet-rolltemplate-tresd .sheet-charname,
  .sheet-rolltemplate-dmg .sheet-charname
{
    text-align: center;
    margin-top: -10px;
}

.sheet-rolltemplate-simple .sheet-charname span,
.sheet-rolltemplate-tres .sheet-charname span, 
.sheet-rolltemplate-tresd .sheet-charname span, 
.sheet-rolltemplate-dmg .sheet-charname span
{
    font-size: 11px;
    font-weight: normal;
    color: #A0A0A0;
}

.sheet-rolltemplate-simple,
.sheet-rolltemplate-conj,
.sheet-rolltemplate-tres,
.sheet-rolltemplate-tresd,
.sheet-rolltemplate-dmg
{
    width: 14.35em;
}

.sheet-rolltemplate-simple .sheet-container,
.sheet-rolltemplate-conj .sheet-container,
.sheet-rolltemplate-tres .sheet-container,
.sheet-rolltemplate-tresd .sheet-container,
.sheet-rolltemplate-dmg .sheet-container
{
    background-color: white;
    border          : 1px solid black;
    color           : black;
    width           : 100%;
}

.sheet-rolltemplate-simple .sheet-container,
.sheet-rolltemplate-conj .sheet-container,
.sheet-rolltemplate-tres .sheet-container,
.sheet-rolltemplate-tresd .sheet-container,
.sheet-rolltemplate-dmg .sheet-container
{
    border-radius: 10px;
}

.sheet-rolltemplate-simple .sheet-adv,
.sheet-rolltemplate-conj .sheet-adv
{
    display       : inline-block;
    margin-top    : 1em;
    text-align    : center;
    vertical-align: top;
    width         : 45%;
}
.sheet-rolltemplate-tres .sheet-adv,
.sheet-rolltemplate-tresd .sheet-adv
{
    display       : inline-block;
    margin-top    : 1em;
    text-align    : center;
    vertical-align: top;
    width         : 28.75%;
}
.sheet-rolltemplate-dmg .sheet-adv
{
    display       : inline-block;
    margin-top    : 1em;
    margin-bottom : 0.3em;
    text-align    : center;
    vertical-align: top;
    width         : 100%;
}

.sheet-rolltemplate-simple .sheet-adv:first-child,
.sheet-rolltemplate-conj .sheet-adv:first-child,
.sheet-rolltemplate-dmg .sheet-adv:first-child
{
    margin-left: 0.2em;
}
.sheet-rolltemplate-tres .sheet-adv:first-child,
.sheet-rolltemplate-tresd .sheet-adv:first-child
{
    margin-left: 0.4em;
}

.sheet-rolltemplate-simple .sheet-adv:nth-child(3),
.sheet-rolltemplate-conj .sheet-adv:nth-child(3)
{
    margin-right: 8px;
    margin-left: -3px;
}
.sheet-rolltemplate-tres .sheet-adv:nth-child(3),
.sheet-rolltemplate-tresd .sheet-adv:nth-child(3)
{
    margin-right: 0px;
    margin-left: -3px;
}

.sheet-rolltemplate-simple .sheet-adv span,
.sheet-rolltemplate-simple .sheet-solo span,
.sheet-rolltemplate-conj .sheet-adv span,
.sheet-rolltemplate-conj .sheet-solo span,
.sheet-rolltemplate-tres .sheet-adv span,
.sheet-rolltemplate-tres .sheet-solo span,
.sheet-rolltemplate-tresd .sheet-adv span,
.sheet-rolltemplate-tresd .sheet-solo span,
.sheet-rolltemplate-dmg .sheet-adv span,
.sheet-rolltemplate-dmg .sheet-solo span
{
    background-color: transparent;
    border: 0px;
    font-size: 1.2em;
    padding: 0px;
}

.sheet-rolltemplate-simple .sheet-advspacer,
.sheet-rolltemplate-conj .sheet-advspacer,
.sheet-rolltemplate-tres .sheet-advspacer,
.sheet-rolltemplate-tresd .sheet-advspacer,
.sheet-rolltemplate-dmg .sheet-advspacer
{
    border: 1px solid black;
    display: inline-block;
    height: 35px;
    width: 0px;
}

.sheet-rolltemplate-simple .sheet-arrow-right,
.sheet-rolltemplate-conj .sheet-arrow-right,
.sheet-rolltemplate-tres .sheet-arrow-right,
.sheet-rolltemplate-tresd .sheet-arrow-right,
.sheet-rolltemplate-dmg  .sheet-arrow-right
{
    border-bottom: 2px solid transparent;
    border-left: 180px solid black;
    border-top: 3px solid transparent;
}

.sheet-rolltemplate-simple .sheet-arrow-left,
.sheet-rolltemplate-conj .sheet-arrow-left,
.sheet-rolltemplate-tres .sheet-arrow-left,
.sheet-rolltemplate-tresd .sheet-arrow-left,
.sheet-rolltemplate-dmg  .sheet-arrow-left
{
    border-bottom: 2px solid transparent;
    border-right: 180px solid black;
    border-top: 3px solid transparent;
}

.sheet-rolltemplate-simple .sheet-solo,
.sheet-rolltemplate-conj .sheet-solo,
.sheet-rolltemplate-tres .sheet-solo,
.sheet-rolltemplate-tresd .sheet-solo,
.sheet-rolltemplate-dmg .sheet-solo{
    height        : auto;
    padding-bottom: 0.5em;
    padding-top   : 1em;
    text-align    : center;
    width         : 100%;
}

.sheet-rolltemplate-simple span,
.sheet-rolltemplate-conj span,
.sheet-rolltemplate-triple span,
.sheet-rolltemplate-dmg span
{
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    text-align: center;
}

.sheet-rolltemplate-simple .sheet-label,
.sheet-rolltemplate-conj .sheet-label,
.sheet-rolltemplate-tres .sheet-label,
.sheet-rolltemplate-tresd .sheet-label,
.sheet-rolltemplate-dmg .sheet-label
{
    margin-top: -3px;
    padding   : 0.25em;
    text-align: center;
}

.sheet-rolltemplate-simple .sheet-label span span,
.sheet-rolltemplate-conj .sheet-label span span,
.sheet-rolltemplate-tres .sheet-label span span,
.sheet-rolltemplate-tresd .sheet-label span span,
.sheet-rolltemplate-dmg .sheet-label span span
{
    padding: 0px;
    border: 0px;
    background-color: transparent;
    font-size: 12px;
}


.sheet-rolltemplate-simple .sheet-grey,
.sheet-rolltemplate-simple .sheet-label span span,
.sheet-rolltemplate-conj .sheet-grey,
.sheet-rolltemplate-conj .sheet-label span span,
.sheet-rolltemplate-tres .sheet-grey,
.sheet-rolltemplate-tres .sheet-label span span,
.sheet-rolltemplate-tresd .sheet-grey,
.sheet-rolltemplate-tresd .sheet-label span span,
.sheet-rolltemplate-dmg .sheet-grey,
.sheet-rolltemplate-dmg .sheet-label span span
{
    color: #A0A0A0;
    border: 0px;
    font-weight: normal;
}

.sheet-rolltemplate-simple .sheet-green,
.sheet-rolltemplate-conj .sheet-green,
.sheet-rolltemplate-tres .sheet-green,
.sheet-rolltemplate-tresd .sheet-green
{
    color: #3FB315;
    border: 0px;
}

/* ################################################### */
/* ################## ESTILOS PABLO ################## */
/* ################################################### */

.sheet-rolltemplates{
    display: none;
}

.sheet-logo{
    display: inline-block;
    height: 110%;
}

.sheet-cabecera{
    width: 80%;
    float: right;
}


.sheet-tipotiradas {
    display: inline-block;
    margin-right: 1em;
}

.sheet-tipotiradas input {
    max-width: 1em;
}

.sheet-atributos {
    float: left;
    width: 30%;

}

.sheet-caracteristicas{
    width: 100%;

}

h1 {
    margin-bottom: 0.3em;
    text-align: center;
    font-variant: small-caps;
    
    
}


/* ################################################### */
/* ################## ESTILOS IÑIGO ################## */
/* ################################################### */

.sheet-centrado
{
    text-align: center;
}

.sheet-textoderecha
{
    text-align: right;
}

.sheet-negrita
{
    font-weight: bold;
}

.sheet_recolocar{
    position: relative;
    bottom: -50px;
    margin: 0px;
    padding: 0px;
}

.sheet-inline
{
    display:inline;
}

.sheet-dibujito{
    height: 70px;
    width: 70px;
    margin-right: -9px !important;
    margin-left: 0px;
    position: relative;
    top: -11px;   
}

.sheet-dibujitomini{
    height: 40px;
    width: 40px;
    margin-right: -9px !important;
    margin-left: 0px;
    position: relative;
    top: 0px;   
}

.sheet-dibujitoarm{
    height: 75px;
    width: 75px;
    margin-right: -9px !important;
    margin-left: 0px;
    position: relative;
    top: 19px;   
}

.sheet-rango{
    max-width: 2em;  
    position: relative;
    top: 0px;   
}

input {
    border-top: 0px solid rgb(0, 0, 0);
    border-left: 0px solid rgb(0, 0, 0);
    border-right: 0px solid rgb(0, 0, 0);
    border-radius: 0px; 
    background-color: transparent;
    
}

select {
    border-top: 0px solid rgb(0, 0, 0);
    border-left: 0px solid rgb(0, 0, 0);
    border-right: 0px solid rgb(0, 0, 0);
    border-radius: 0px; 
    background-color: transparent;
    
    vertical-align: middle !important;
    margin-bottom: 0 !important;
}

.sheet-bordecuad
{    
    border: 2px solid rgb(0, 0, 0);
    border-radius: 0px;   
}

.sheet-bordered
{    
    border: 2px solid rgb(0, 0, 0);
    border-radius: 6px;      
}

.sheet-bordeparentesis
{    
    border-right: 2px solid rgb(0, 0, 0);
    border-left: 2px solid rgb(0, 0, 0);
    border-radius: 10px;      
}

.sheet-bordetopbot
{    
    border-top: 3px solid rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 0, 0);
    border-radius: 0px;   
}

.sheet-bordetop
{    
    border-top: 3px solid rgb(0, 0, 0);
    border-radius: 0px;   
}

.sheet-bordebot
{    
    border-bottom: 3px solid rgb(0, 0, 0);
    border-radius: 0px;   
}

.sheet-smaller
{
    font-size: smaller;
}

.sheet-dadito {
    font-family: dicefontd12; 
    font-size: large;
    font-weight: bold;
}

.sheet-fuentehab
{
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: small !important;
    font-weight: bold !important;
}

.sheet-arial
{
    font-family: Arial, Helvetica, sans-serif !important;
}

.sheet-larger
{
    font-size: larger;
}

.sheet-versalitas{
    font-variant: small-caps;
}

.sheet-oculto
{
    display: none;
}

hr {
    clear: both;
    visibility: hidden;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

/*.sheet-col{
    margin: 2px !important;
    } */

.sheet-floatright {
    float: right;  
    }

.sheet-15porciento{
    float: left;
    width: 20%;
    }

.sheet-20porciento{
    float: left;
    width: 20%;
    }

.sheet-25porciento{
    float: left;
    width: 25%;
    }

.sheet-25porcientoder{
    float: right;
    width: 25%;
    }

.sheet-30porciento{
    float: left;
    width: 30%;
    } 
    
.sheet-35porciento{
    float: left;
    width: 35%;
    } 

.sheet-40porciento{
    float: left;
    width: 40%;
    }    

.sheet-60porciento{
    float: left;
    width: 60%;
    }

.sheet-70porciento{
    float: left;
    width: 70%;
    }   

.sheet-75porciento{
    float: left;
    width: 75%;
    }
    

.sheet-arrow-right
{
    border-bottom: 2px solid transparent;
    border-left: 800px solid black;
    border-top: 3px solid transparent;
}

.sheet-arrow-left
{
    border-bottom: 2px solid transparent;
    border-right: 800px solid black;
    border-top: 3px solid transparent;
}


/*Cambios de página y de ficha*/

input.sheet-toggle-show:not(:checked) ~ div.sheet-body,
input.sheet-toggle-hide:checked ~ div.sheet-body {
    display: none;
}

.sheet-block-a,
.sheet-block-switch:checked ~ .sheet-block-b {
  display: block;
}

.sheet-block-b,
.sheet-block-switch:checked ~ .sheet-block-a {
  display: none;
}

.sheet-ficha_luchador,
.sheet-tipodeficha:checked ~ .sheet-ficha_mago {
  display: block;
}

.sheet-ficha_mago,
.sheet-tipodeficha:checked ~ .sheet-ficha_luchador {
  display: none;
}


/*Cambio de botones*/

button[type=roll],
button[type=action],
button[type=compendium],
button[type=cancel],
button[type=submit],
button[type=finish],
button[type=back] {
    background-color: transparent;
    border: none;
    line-height: 12px;
    background-image: none;
    box-shadow: none;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    text-align:left;
    position:relative;
    
}

button[type=roll]::before {
    content: " " !important;
}



/*-----radio boxes-----*/

/* -----Hide actual radio----- */
input.sheet-normal[type="radio"]
{
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/* -----Fake radio----- */
input.sheet-normal[type="radio"] + span::before
{
    margin-right: 5px;
    border: solid 2px black;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    
    color:black;
    content: "•";
    width: 13px;
    height: 13px;
    font-size: 3em;
    
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/* -----Remove dot from all radios _after_ selected one----- */
input.sheet-normal[type="radio"]:checked ~ input.sheet-normal[type="radio"] + span::before
{    
    content: "";
}

/*------------empty traits-----------*/
input.sheet-zero[type="radio"]:checked + span::before
{
    opacity: 0;
}

input.sheet-zero[type="radio"]:hover + span::before
{
    opacity: 1;
}

input.sheet-zero[type="radio"] + span::before
{
    font-size: 12px;
    content: "✖";
    opacity: 0.25;
}





/*quitar los dados
button[type=roll]::before{
    content: " " !important;
}
*/
