

/* Set the min-width so that when the window is resized the look will stay consistant */

.charsheet {
	background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/fondoespada.jpg");
    background-color: white;
    min-width: 825px;
    max-width: 825px;
}


/* Universal styling applied to all elements of these types */

h2 {
	font-size: 2em;
	margin-bottom: 10px;
	text-align: center;
}

label {
	display: inline-block;
	width: 31%;
}

input {
	display: inline-block;
	width: 165px;
}

img {
	max-height: 100px;
}

textarea {
	resize: vertical;
}

/* Targetted styling that only effects elements with these classes */
input.sheet-short {
	width: 17%;
}

select.sheet-dtype {
    vertical-align: top;
    width: 60px;
}
span.sheet-dee {
	font-size: 1.4em;
	font-weight: bold;
	left: -36%;
	padding-right: 4px;
	position: relative;
	top: 3px;
}

/* Targetted styling that only effects elements contained within the stated class */
.sheet-stats h3 {
	display: inline-block;
	text-align: left;
}

.sheet-stats h3:first-child {
	margin-left: 35%;
	margin-right: 15%;
}

.sheet-stats input {
	margin-right: 8%;
	width: 17%;
}
/***************************************/
/* FORMATO DE LAS PLANTILLAS DE TIRADAS*/
/***************************************/
  .sheet-rolltemplate-tirada .sheet-charname,
  .sheet-rolltemplate-moribundo .sheet-charname,
  .sheet-rolltemplate-lesion .sheet-charname,
  .sheet-rolltemplate-dmg .sheet-charname
{
    text-align: left;
}

.sheet-rolltemplate-tirada .sheet-charname span,
.sheet-rolltemplate-moribundo .sheet-charname span,
.sheet-rolltemplate-lesion .sheet-charname span,
.sheet-rolltemplate-dmg .sheet-charname span
{
    font-size: 10px;
    font-weight: normal;
    color: #666666;
    margin-left: 5px;
}

.sheet-rolltemplate-tirada .sheet-dadito
{
    font-family: dicefontd12; 
    font-size: large;
    font-weight: bold;
}

.sheet-rolltemplate-tirada,
.sheet-rolltemplate-moribundo,
.sheet-rolltemplate-muerte,
.sheet-rolltemplate-golpe,
.sheet-rolltemplate-lesion,
.sheet-rolltemplate-dmg
{
    width: 14.35em;
}

.sheet-rolltemplate-tirada .sheet-container,
.sheet-rolltemplate-moribundo .sheet-container,
.sheet-rolltemplate-muerte .sheet-container,
.sheet-rolltemplate-golpe .sheet-container,
.sheet-rolltemplate-lesion .sheet-container,
.sheet-rolltemplate-dmg .sheet-container
{
    background-color: white;
    border          : 1px solid black;
    color           : black;
    width           : 100%;
    border-radius: 10px;
}

.sheet-rolltemplate-lesion .sheet-adv
{
    display       : inline-block;
    margin-top    : 1em;
    margin-bottom : 0.3em;
    text-align    : center;
    vertical-align: middle;
    width         : 57%;
}

.sheet-rolltemplate-muerte .sheet-adv,
.sheet-rolltemplate-golpe .sheet-adv,
.sheet-rolltemplate-dmg .sheet-adv,
.sheet-rolltemplate-tirada .sheet-adv,
.sheet-rolltemplate-moribundo .sheet-adv
{
    display       : inline-block;
    margin-top    : 1em;
    margin-bottom : 0.1em;
    text-align: center;
    vertical-align: middle;
    width         : 67%;
}

.sheet-rolltemplate-dmg .sheet-templateimagen,
.sheet-rolltemplate-golpe .sheet-templateimagen,
.sheet-rolltemplate-muerte .sheet-templateimagen,
.sheet-rolltemplate-tirada .sheet-templateimagen,
.sheet-rolltemplate-moribundo .sheet-templateimagen
{
    display: inline;
    height: 55px;
    width: 55px;
    margin-left: 0em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-right: 0.1em;
    text-align: right;
    vertical-align: middle;
}


.sheet-rolltemplate-lesion .sheet-templateimagen
{
    display: inline;
    height: 55px;
    width: 75px !important;
    margin-left: 0em;
    margin-top: 0.1em;
    margin-bottom: 0.2em;
    margin-right: 0.1em;
    text-align: right;
}

.sheet-rolltemplate-tirada .sheet-adv span,
.sheet-rolltemplate-tirada .sheet-solo span,
.sheet-rolltemplate-moribundo .sheet-adv span,
.sheet-rolltemplate-moribundo .sheet-solo span,
.sheet-rolltemplate-muerte .sheet-adv span,
.sheet-rolltemplate-muerte .sheet-solo span,
.sheet-rolltemplate-golpe .sheet-adv span,
.sheet-rolltemplate-golpe .sheet-solo span,
.sheet-rolltemplate-lesion .sheet-adv span,
.sheet-rolltemplate-lesion .sheet-solo span,
.sheet-rolltemplate-dmg .sheet-adv span,
.sheet-rolltemplate-dmg .sheet-solo span
{
    background-color: transparent;
    border: 0px;
    font-size: 1.2em;
    padding: 0px;
}

.sheet-rolltemplate-tirada .sheet-advspacer,
.sheet-rolltemplate-moribundo .sheet-advspacer,
.sheet-rolltemplate-muerte .sheet-advspacer,
.sheet-rolltemplate-golpe .sheet-advspacer,
.sheet-rolltemplate-lesion .sheet-advspacer,
.sheet-rolltemplate-dmg .sheet-advspacer
{
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
    height: 20px;
    width: 0px;
}

.sheet-rolltemplate-tirada .sheet-arrow-right,
.sheet-rolltemplate-moribundo .sheet-arrow-right,
.sheet-rolltemplate-muerte .sheet-arrow-right,
.sheet-rolltemplate-golpe .sheet-arrow-right,
.sheet-rolltemplate-lesion .sheet-arrow-right,
.sheet-rolltemplate-dmg .sheet-arrow-right
{
    border-bottom: 2px solid transparent;
    border-left: 180px solid black;
    border-top: 3px solid transparent;
}

.sheet-rolltemplate-tirada .sheet-arrow-left,
.sheet-rolltemplate-moribundo .sheet-arrow-left,
.sheet-rolltemplate-muerte .sheet-arrow-left,
.sheet-rolltemplate-golpe .sheet-arrow-left,
.sheet-rolltemplate-lesion .sheet-arrow-left,
.sheet-rolltemplate-dmg .sheet-arrow-left
{
    border-bottom: 2px solid transparent;
    border-right: 180px solid black;
    border-top: 3px solid transparent;
}

.sheet-rolltemplate-tirada .sheet-solo,
.sheet-rolltemplate-moribundo .sheet-solo,
.sheet-rolltemplate-muerte .sheet-solo,
.sheet-rolltemplate-golpe .sheet-solo,
.sheet-rolltemplate-lesion .sheet-solo,
.sheet-rolltemplate-dmg .sheet-solo
{
    height        : auto;
    padding-bottom: 0.5em;
    padding-top   : 1em;
    text-align    : center;
    width         : 100%;
}

.sheet-rolltemplate-tirada span,
.sheet-rolltemplate-moribundo span,
.sheet-rolltemplate-muerte span,
.sheet-rolltemplate-golpe span,
.sheet-rolltemplate-lesion span,
.sheet-rolltemplate-dmg span
{
    font-size: 12px;
    font-weight: bold !important;
    line-height: 12px;
    text-align: center;
}

.sheet-rolltemplate-golpe .sheet-descontrol,
.sheet-rolltemplate-lesion .sheet-lesion,
.sheet-rolltemplate-tirada .sheet-titulo,
.sheet-rolltemplate-moribundo .sheet-titulo,
.sheet-rolltemplate-muerte .sheet-titulo,
.sheet-rolltemplate-golpe .sheet-titulo
{
    margin-top: 3px !important;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    text-align: center;
}

.sheet-rolltemplate-golpe .sheet-texto,
.sheet-rolltemplate-lesion .sheet-texto,
.sheet-rolltemplate-tirada .sheet-texto
{
    font-size: 13px;
    font-weight: normal;
    line-height: 15px;
    text-align: center;
    margin: 2px !important;
}


.sheet-rolltemplate-tirada .sheet-label,
.sheet-rolltemplate-moribundo .sheet-label,
.sheet-rolltemplate-muerte .sheet-label,
.sheet-rolltemplate-golpe .sheet-label,
.sheet-rolltemplate-lesion .sheet-label,
.sheet-rolltemplate-dmg .sheet-label
{
    margin-top: -3px;
    padding   : 0.25em;
    text-align: center;
}

.sheet-rolltemplate-tirada .sheet-label span span,
.sheet-rolltemplate-moribundo .sheet-label span span,
.sheet-rolltemplate-muerte .sheet-label span span,
.sheet-rolltemplate-golpe .sheet-label span span,
.sheet-rolltemplate-dmg .sheet-label span span
{
    padding: 0px;
    border: 0px;
    background-color: transparent;
    font-size: 12px;
}


.sheet-rolltemplate-tirada .sheet-grey,
.sheet-rolltemplate-moribundo .sheet-grey,
.sheet-rolltemplate-muerte .sheet-grey,
.sheet-rolltemplate-golpe .sheet-grey,
.sheet-rolltemplate-lesion .sheet-grey,
.sheet-rolltemplate-dmg .sheet-grey

{
    color: #A0A0A0;
    border: 0px;
    font-weight: normal;
}


.sheet-rolltemplate-tirada .sheet-green,
.sheet-rolltemplate-moribundo .sheet-green,
.sheet-rolltemplate-muerte .sheet-green,
.sheet-rolltemplate-golpe .sheet-green
{
    color: #238300 !important;
    border: 0px;
}

.sheet-rolltemplate-tirada .sheet-red,
.sheet-rolltemplate-moribundo .sheet-red,
.sheet-rolltemplate-muerte .sheet-red,
.sheet-rolltemplate-golpe .sheet-red,
.sheet-rolltemplate-lesion .sheet-red
{
    color: #700000 !important;
    border: 0px;
}


/*Estilo de los botones en las macros*/

.sheet-rolltemplate-tirada a[href^='!'],
.sheet-rolltemplate-tirada a[href^='~'],
.sheet-rolltemplate-moribundo a[href^='!'],
.sheet-rolltemplate-moribundo a[href^='~'],
.sheet-rolltemplate-muerte a[href^='!'],
.sheet-rolltemplate-muerte a[href^='~'],
.sheet-rolltemplate-golpe a[href^='!'],
.sheet-rolltemplate-golpe a[href^='~'],
.sheet-rolltemplate-lesion a[href^='!'],
.sheet-rolltemplate-lesion a[href^='~'],
.sheet-rolltemplate-dmg a[href^='!'],
.sheet-rolltemplate-dmg a[href^='~']
{
    background-color:transparent;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px; 
    color:initial;
    display:inline;
    padding:1px;
}

/* ################################################### */
/* ################## ESTILOS PABLO ################## */
/* ################################################### */

.sheet-rolltemplates{
    display: none;
}

.sheet-logo{
    display: inline-block;
    height: 110%;
}

.sheet-cabecera{
    width: 80%;
    float: right;
}

.sheet-tipotiradas {
    display: inline-block;
    margin-right: 1em;
}

.sheet-tipotiradas input {
    max-width: 1em;
}

h1 {
    margin-bottom: 0.3em;
    text-align: center;
    font-variant: small-caps; 
}


/* ################################################### */
/* ################## ESTILOS IÑIGO ################## */
/* ################################################### */

.sheet-morao{
    color: rebeccapurple;
}


.sheet-centrado
{
    text-align: center;
}

.sheet-verticalabajo
{
    vertical-align: bottom;
}

.sheet-notas
{
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    height: 330px;
    margin-right:10px;
    padding: 5px;
    clear:left;
    overflow: auto;
}

.sheet-notascoliseo
{
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    height: 250px;
    margin-right:0px;
    clear:left;
    padding: 5px;
    overflow: auto;
}

.sheet-nota
{
    font-weight: bold;
    font-size: larger;
    line-height: 12px;

    margin-right:10px;
    margin-top: 18px;
    margin-bottom: 18px;
    text-indent: -30px !important;
}

.sheet-textoderecha
{
    text-align: right;
}

.sheet-negrita
{
    font-weight: bold;
}

.sheet-justify {
    text-align: justify;
  }

.sheet-margen10
{
    padding: 10px !important;
}

.sheet-recolocar {
    position: relative;
    left: 70px;
    margin-bottom:0px;
}


.sheet-inline
{
    display:inline;
}

.sheet-check {
    max-width: 2em;  
    position: relative;
    top: 0px;   
}

input {
    border-top: 0px solid rgb(0, 0, 0);
    border-left: 0px solid rgb(0, 0, 0);
    border-right: 0px solid rgb(0, 0, 0);
    border-radius: 0px; 
    background-color: transparent;
}

select {
    border-top: 0px solid rgb(0, 0, 0);
    border-left: 0px solid rgb(0, 0, 0);
    border-right: 0px solid rgb(0, 0, 0);
    border-radius: 0px; 
    background-color: transparent;
    
    vertical-align: middle !important;
    margin-bottom: 0 !important;
}

.sheet-bordecuad
{    
    border: 2px solid rgb(0, 0, 0);
    border-radius: 0px;   
}

.sheet-bordered
{    
    border: 2px solid rgb(0, 0, 0);
    border-radius: 6px;      
}

.sheet-bordeparentesis
{    
    border-right: 2px solid rgb(0, 0, 0);
    border-left: 2px solid rgb(0, 0, 0);
    border-radius: 10px;      
}

.sheet-bordetopbot
{    
    border-top: 3px solid rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 0, 0);
    border-radius: 0px;   
}

.sheet-bordetop
{    
    border-top: 3px solid rgb(0, 0, 0);
    border-radius: 0px;   
}

.sheet-bordebot
{    
    border-bottom: 3px solid rgb(0, 0, 0);
    border-radius: 0px;   
}

.sheet-smaller
{
    font-size: smaller;
}

.sheet-dadito 
{
    font-family: dicefontd12; 
    font-size: large;
    font-weight: bold;
}

.sheet-fuentehab
{
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: small !important;
    font-weight: bold !important;
}

.sheet-fuentehabcomb
{
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: small !important;
    font-weight: bold !important;
    line-height: 27px;  
}
    
.sheet-arial
{
    font-family: Arial, Helvetica, sans-serif !important;
}

.sheet-larger
{
    font-size: larger;
}

.sheet-versalitas{
    font-variant: small-caps;
}

.sheet-oculto
{
    display: none !important;
}

hr {
    clear: both;
    visibility: hidden;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.sheet-floatright {
    float: right;  
    }

.sheet-15porciento{
    float: left;
    width: 15%;
    }

.sheet-20porciento{
    float: left;
    width: 20%;
    }

.sheet-25porciento{
    float: left;
    width: 25%;
    }

.sheet-25porcientoder{
    float: right;
    width: 25%;
    }

.sheet-28porciento{
    float: left;
    width: 28%;
    }

.sheet-30porciento{
    float: left;
    width: 30%;
    } 

.sheet-33porciento{
    float: left;
    width: 33%;
    } 
    
.sheet-35porciento{
    float: left;
    width: 35%;
    } 

.sheet-37porciento{
    float: left;
    width: 37.5%;
    } 

.sheet-40porciento{
    float: left;
    width: 40%;
    }    

.sheet-45porciento{
    float: left;
    width: 45%;
    }  

.sheet-50porciento{
    float: left;
    width: 50%;
    }  

.sheet-54porciento{
    float: left;
    width: 54%;
    }     

.sheet-60porciento{
    float: left;
    width: 60%;
    }

.sheet-70porciento{
    float: left;
    width: 70%;
    }   

.sheet-75porciento{
    float: left;
    width: 75%;
    }

.sheet-100porciento{
    width: 100%;
    float: left;
} 

.sheet-arrow-right
{
    border-bottom: 2px solid transparent;
    border-left: 825px solid black;
    border-top: 3px solid transparent;
}

.sheet-arrow-left
{
    border-bottom: 2px solid transparent;
    border-right: 825px solid black;
    border-top: 3px solid transparent;
}

.sheet-arrow-subright
{
    position: absolute;
    z-index: 2;
    border-bottom: 2px solid transparent;
    border-left: 100px solid black;
    left: 77%;
    border-top: 3px solid transparent;
}

.sheet-arrow-subleft
{
    position: absolute;
    z-index: 3;
    border-bottom: 2px solid transparent;
    border-right: 100px solid black;
    right: 23%;
    border-top: 3px solid transparent;
}

.sheet-descripcion{
    background: none;
    min-height: 30px;
    height: 38px;
    width: 100%;
    overflow: auto;
    resize: vertical;
    padding-bottom: 0px;
    padding-right: 5px;
    border: none;
}

.sheet-nombre{
    background: none;
    border: none;
    width:100%; 
    font-size:larger;
    font-weight: bold;
}

.sheet-tipo{
    background: none;
    border: none;
    width:100%;
    text-align: center;
}

.sheet-cuadrodmg{
    background: none;
    border: 3px solid black;
    border-radius: 10px;
    width:120px;
    font-weight: bold;
    display: inline;
    margin-right: 3px;
    margin-left: 3px;

}

.sheet-bonificadorcoliseo {
    display: inline-block;
    font-size: 17px; 
    font-weight: bold;
    z-index: 3;
    position: relative;
    text-align: center;
    left: -18px;
    top: -15px;
    margin-right: -35px;
    line-height: 30px;

    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px; 
    background-color: white;
    width: 30px;
    height: 30px !important;
}

.sheet-bonificadorcoliseoarm {
    display: inline-block;
    font-size: 17px; 
    font-weight: bold;
    z-index: 3;
    position: relative;
    text-align: center;
    left: -18px;
    top: -15px;
    margin-right: -15px;
    line-height: 30px;

    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px; 
    background-color: white;
    width: 30px;
    height: 30px !important;
}

.sheet-bonificadorcoliseo2 {
    display: inline-block;
    font-size: 17px; 
    font-weight: bold;
    z-index: 3;
    position: relative;
    text-align: center;
    left: -30px;
    top: -15px;
    margin-right: -35px;
    line-height: 30px;

    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px; 
    background-color: white;
    width: 30px;
    height: 30px !important;
}

.sheet-salvaciones {
    display: inline-block !important;
    margin: 10px !important;
    border: 3px solid rgb(0, 0, 0) !important;
    border-radius: 10px !important;
    padding: 8px 15px !important;
    font-size: large !important;
}

/* ################################################### */
/* ################ CARTELITOS INFO ################## */
/* ################################################### */

.sheet-botoninfocoliseo {
    font-family:Pictos; 
    font-size: x-large; 
    z-index: 5;
    position:relative;
    text-align: left !important;
    left: 0px;
    top: -15px;
    margin-left: -10px;
    margin-right: -15px;

}

.sheet-infotitulo {
    border: 0px;
    font-size: larger;
    font-weight: bold;
    display: block;
    overflow: hidden;
    min-height: 20px;
    margin-bottom: 3px;
    padding-top: 15px;
    min-height: 20px;
}

.sheet-infotitulo1 {
    border: 0px;
    font-size: larger;
    font-weight: bold;
    display: block;
    overflow: hidden;
    min-height: 20px;
    margin-bottom: 3px;
    padding-top: 0px;
    min-height: 20px;
}

.sheet-infotipo {
    border: 0px;
    overflow: hidden;
    font-style: italic;
    margin-left: 10px;
}

.sheet-infobonificador {
    border: 0px;
    font-weight: bold;
    display: inline;
    overflow: hidden;
    margin-left: 15px;
    margin-right: -12px;
    text-align: left !important;
}

.sheet-infotexto {
    border: 0px;
    display: block;
    overflow: hidden;
    margin-top: 3px;
    min-height: 20px;
    line-height: 20px;
    text-align: justify !important;
    text-indent: 10px;
}

.textarea {
    display: block;
    width: 300px;
    overflow: hidden;
    min-height: 40px;
    line-height: 20px;
  }

.sheet-tooltip {
    outline: none;
    cursor: help;
}

.sheet-tooltip strong { line-height: 30px; }

.sheet-tooltip:hover .sheet-info,
.sheet-tooltip:hover .sheet-infoacciones,
.sheet-tooltip:hover .sheet-infocoliseo
{
    display: block;
    position: absolute;
}

.sheet-tooltip:hover { text-decoration: none; }

.sheet-tooltip .sheet-info {
    display: none;
    border-radius: 10px;
    box-shadow: 5px 5px 8px #ccc;
    z-index: 10;
    padding: 10px 15px;
    margin-top: -30px;
    margin-left: 28px;
    width: 300px;
    line-height: 16px;
    color: #111;
    border: 1px solid #dca;
    background: #fffaf0;
}

.sheet-tooltip .sheet-infoacciones {
    display: none;
    border-radius: 10px;
    box-shadow: 5px 5px 8px #ccc;
    z-index: 10;
    padding: 10px 15px;
    margin-top: -90px;
    margin-left: 28px;
    min-width: 200px;
    max-width: 500px;
    line-height: 16px;
    color: #111;
    border: 1px solid #dca;
    background: #fffaf0;
}

.sheet-tooltip .sheet-infocoliseo {
    display: none;
    border-radius: 10px;
    box-shadow: 5px 5px 8px #ccc;
    z-index: 10;
    padding: 10px 15px;
    margin-top: -90px;
    margin-left: 35px;
    min-width: 200px;
    max-width: 250px;
    line-height: 16px;
    color: #111;
    border: 1px solid #dca;
    background: #fffaf0;
}


/* ################################################### */
/* ###### CAMBIOS Y TRANSFORMACIONES DE FICHA ######## */
/* ################################################### */

input.sheet-toggle-show:not(:checked) ~ div.sheet-body {
    display: none;
}

input.sheet-mostrar_talentos:not(:checked) ~ div.sheet-editable_talentos,
input.sheet-mostrar_rasgos:not(:checked) ~ div.sheet-editable_rasgos, 
input.sheet-mostrar_notas:not(:checked) ~ div.sheet-editable_notas 
{
    display: none;
}

input.sheet-mostrar_conjuracion:not(:checked) ~ div.sheet-especial_conjuracion,
input.sheet-mostrar_intensidad:not(:checked) ~ div.sheet-especial_intensidad,
input.sheet-mostrar_disparo:not(:checked) ~ div.sheet-especial_disparo,
input.sheet-mostrar_dominio:not(:checked) ~ div.sheet-especial_dominio 
{
    display: none !important;
}

input.sheet-mostrar_accion1:not(:checked) ~ div.sheet-nota_accion1,
input.sheet-mostrar_accion2:not(:checked) ~ div.sheet-nota_accion2,
input.sheet-mostrar_accion3:not(:checked) ~ div.sheet-nota_accion3,
input.sheet-mostrar_accion4:not(:checked) ~ div.sheet-nota_accion4,
input.sheet-mostrar_accion5:not(:checked) ~ div.sheet-nota_accion5,
input.sheet-mostrar_accion6:not(:checked) ~ div.sheet-nota_accion6,
input.sheet-mostrar_accion7:not(:checked) ~ div.sheet-nota_accion7,
input.sheet-mostrar_accion8:not(:checked) ~ div.sheet-nota_accion8,
input.sheet-mostrar_accion9:not(:checked) ~ div.sheet-nota_accion9,
input.sheet-mostrar_accion10:not(:checked) ~ div.sheet-nota_accion10
 {
    display: none !important;
}

input.sheet-mostrar_especial1:not(:checked) ~ div.sheet-nota_especial1,
input.sheet-mostrar_especial2:not(:checked) ~ div.sheet-nota_especial2,
input.sheet-mostrar_especial3:not(:checked) ~ div.sheet-nota_especial3,
input.sheet-mostrar_especial4:not(:checked) ~ div.sheet-nota_especial4,
input.sheet-mostrar_especial5:not(:checked) ~ div.sheet-nota_especial5,
input.sheet-mostrar_especial6:not(:checked) ~ div.sheet-nota_especial6,
input.sheet-mostrar_especial7:not(:checked) ~ div.sheet-nota_especial7,
input.sheet-mostrar_especial8:not(:checked) ~ div.sheet-nota_especial8,
input.sheet-mostrar_especial9:not(:checked) ~ div.sheet-nota_especial9,
input.sheet-mostrar_especial10:not(:checked) ~ div.sheet-nota_especial10
{
    display: none !important;
}

.sheet-hojacombate,
.sheet-cambiodehoja:checked ~ .sheet-hojatalentos {
  display: inline;
}

.sheet-hojatalentos,
.sheet-cambiodehoja:checked ~ .sheet-hojacombate {
  display: none;
}

.sheet-hojanormal,
.sheet-modocoliseo:checked ~ .sheet-hojacoliseo {
  display: inline;
}

.sheet-hojacoliseo,
.sheet-modocoliseo:checked ~ .sheet-hojanormal {
  display: none;
}

.sheet-cuadro_acciones,
.sheet-cuadronotas:checked ~ .sheet-cuadro_especial {
  display: inline;
}

.sheet-cuadro_especial,
.sheet-cuadronotas:checked ~ .sheet-cuadro_acciones {
  display: none;
}


/* ################################################### */
/* ############### BOTONES Y DIBUJOS ################# */
/* ################################################### */

.sheet-dibujito{
    height: 70px;
    width: 70px;
    margin-right: -9px !important;
    margin-left: 0px;
    position: relative;
    top: -11px;   
}

.sheet-dibujitoarm{
    height: 70px;
    width: 70px;
    margin-right: -9px !important;
    margin-left: 0px;
    position: relative;
    top: 19px;   
}

button[type=roll],
button[type=action],
button[type=compendium],
button[type=cancel],
button[type=submit],
button[type=finish],
button[type=back] {
    background-color: transparent;
    background-image: none;
    border: none;
    line-height: 12px;
    box-shadow: none;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    text-align:left;
    position:relative;
}

button[type=roll]::before {
    content: " " !important;
}

.sheet-botoncoliseo {
    position:relative;
    vertical-align: middle;
    width: 108px;
    margin-left: 5px !important;
    top: 10px !important;       
}

.sheet-imagencoliseo {
    position:relative;
    vertical-align: middle;
    height: 70px;
    width: 70px;
    margin-right: -15px !important;
    margin-left: 0px;
    top: 10px;   
    background-position: 0;
    background-size: 70px 70px;
    background-repeat: no-repeat;
}

.sheet-imagencoliseoarm {
    position:relative;
    vertical-align: middle;
    height: 50px;
    width: 50px;
    margin-right: -15px !important;
    margin-left: 0px;
    top: 10px;   
    background-position: 0;
    background-size: 50x 50px;
    background-repeat: no-repeat;
}

.sheet-botonimagen {
    position:relative;
    vertical-align: middle;
    height: 70px;
    width: 70px;
    margin-right: -15px !important;
    margin-left: 0px;
    top: -10px;   
    background-position: 0;
    background-size: 70px 70px;
    background-repeat: no-repeat;
}

.sheet-bconjuracion
{
    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/CCConjuracion.png") !important;
}
.sheet-bintensidad
{
    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/CCIntensidad.png") !important;
}

.sheet-bdisparo
{
    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/CCDisparo.png") !important;
}

.sheet-bdominio
{
    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/CCDominio.png") !important;
}

.sheet-besquiva
{
    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/CCEsquiva.png") !important;
}

.sheet-bdefensa
{
    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/CCBloqueo.png") !important;
}

.sheet-bpelea
{
    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/CCPelea.png") !important;
}

.sheet-bataque1
{
    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/CCAtaque1.png") !important;
}

.sheet-bdesvio
{
    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/CCDesvio.png") !important;
}

.sheet-bataque2
{
    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/CCAtaque2.png") !important;
}

.sheet-bataque3
{
    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/CCAtaque3.png") !important;
}

.sheet-bataquesa
{
    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/CCAtaqueSA.png") !important;
}

.sheet-bdesviosa
{
    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/CCDesvioSA.png") !important;
}


/* ################################################### */
/* ########### QUITAR FLECHITAS A INPUT ############## */
/* ################################################### */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/* ################################################### */
/* ################# CUSTOM CHECKS ################### */
/* ################################################### */
input.sheet-innata
{
    max-width: 2em;  
    width: 12px;
    height: 12px;
    position: relative;
    vertical-align: middle;
    margin-right: -6px !important;
}

input.sheet-innatacomb
{
    max-width: 2em;  
    width: 12px;
    height: 12px;
    position: relative;
    vertical-align: middle;
    margin-right: 3px !important;
    color: black;
    Top: -2px;
}


input.sheet-rangoextra,
input.sheet-atributoextra
{
    max-width: 2em;  
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/* -----Fake check (los circulitos que sí se ven)----- */

input.sheet-rangoextra + span
{
    content: "";
    background-color: transparent;
    margin-right: 5px;
    border: solid 2px black;
    line-height: 8px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    background-color: rgb(100, 0, 0);
    
    color:black;
    content: "•";
    width: 8px;
    height: 8px; 
    font-size: 1em;


    /*Esto hace que sean círculos en vez de cuadrados*/
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

input.sheet-atributoextra + span
{
    margin-right: 5px;
    border: solid 2px black;
    line-height: 8px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    background-color: rgb(100, 0, 0);
    
    
    color:black;
    content: "•";
    width: 12px;
    height: 12px; 
    font-size: 1em;

    /*Esto hace que sean círculos en vez de cuadrados ••●∴⋅⬤*/
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

input.sheet-rangoextra:checked + span,
input.sheet-atributoextra:checked + span,
{    
    content: "";
    background-color: transparent;
}
  
/* ################################################### */
/* ################## CIRCULITOS ##################### */
/* ################################################### */

/* -----Hide actual radio----- */
input.sheet-rango[type="radio"],
input.sheet-rango2[type="radio"],
input.sheet-rango3[type="radio"]
{
    max-width: 2em;  
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/* -----Fake radio (los circulitos que sí se ven)----- */

input.sheet-rango[type="radio"] + span::before
{
    margin-right: 5px;
    border: solid 2px black;
    line-height: 12px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    background-color: black;
    
    
    color:black;
    content: "•";
    width: 12px;
    height: 12px; 
    font-size: 1.4em;

    /*Esto hace que sean círculos en vez de cuadrados ••●∴⋅⬤*/
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

input.sheet-rango2[type="radio"] + span::before
{
    margin-right: 4px;
    border: solid 2px black;
    line-height: 12px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    background-color: black;
    
    
    color:black;
    content: "•";
    width: 12px;
    height: 12px; 
    font-size: 1.4em;

    /*Esto hace que sean círculos en vez de cuadrados ••●∴⋅⬤*/
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

input.sheet-rango3[type="radio"] + span::before
{
    margin-right: 5px;
    border: solid 2px black;
    line-height: 8px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    background-color: black;
    
    color:black;
    content: "•";
    width: 8px;
    height: 8px; 
    font-size: 1em;


    /*Esto hace que sean círculos en vez de cuadrados (puntos varios: •∴⋅⬤)*/
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}



/* -----Remove dot from all radios _after_ selected one----- */
input.sheet-rango[type="radio"]:checked ~ input.sheet-rango[type="radio"] + span::before,
input.sheet-rango2[type="radio"]:checked ~ input.sheet-rango2[type="radio"] + span::before,
input.sheet-rango3[type="radio"]:checked ~ input.sheet-rango3[type="radio"] + span::before
{    
    content: "";
    background-color: transparent;
}

/*------------empty traits-----------*/
input.sheet-zero[type="radio"]:checked + span::before
{
    opacity: 0;
}

input.sheet-zero[type="radio"]:hover + span::before
{
    opacity: 1;
}

input.sheet-zero[type="radio"] + span::before
{
    content: "✖";
    opacity: 0.20;
    background-color: transparent;
    border: none;
    margin-right: 6px !important;
}





/*quitar los dados
button[type=roll]::before{
    content: " " !important;
}
*/
