

/* Set the min-width so that when the window is resized the look will stay consistant */

.charsheet {
	background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/fondoespada.jpg"); /*black space with tiny white stars*/
    background-color: white;
    min-width: 820px;
}


/* Universal styling applied to all elements of these types */

h2 {
	font-size: 2em;
	margin-bottom: 10px;
	text-align: center;
}

label {
	display: inline-block;
	width: 31%;
}

input {
	display: inline-block;
	width: 165px;
}

img {
	max-height: 100px;
}

textarea {
	resize: vertical;
}

/* Targetted styling that only effects elements with these classes */
input.sheet-short {
	width: 17%;
}

select.sheet-dtype {
    vertical-align: top;
    width: 60px;
}
span.sheet-dee {
	font-size: 1.4em;
	font-weight: bold;
	left: -36%;
	padding-right: 4px;
	position: relative;
	top: 3px;
}

/* Targetted styling that only effects elements contained within the stated class */
.sheet-stats h3 {
	display: inline-block;
	text-align: left;
}

.sheet-stats h3:first-child {
	margin-left: 35%;
	margin-right: 15%;
}

.sheet-stats input {
	margin-right: 8%;
	width: 17%;
}
/***************************************/
/* FORMATO DE LAS PLANTILLAS DE TIRADAS*/
/***************************************/
  .sheet-rolltemplate-simple .sheet-charname,
  .sheet-rolltemplate-moribundo .sheet-charname,
  .sheet-rolltemplate-tres .sheet-charname,
  .sheet-rolltemplate-tresd .sheet-charname,
  .sheet-rolltemplate-lesion .sheet-charname,
  .sheet-rolltemplate-dmg .sheet-charname
{
    text-align: center;
    margin-top: -10px;
}

.sheet-rolltemplate-simple .sheet-charname span,
.sheet-rolltemplate-moribundo .sheet-charname span,
.sheet-rolltemplate-tres .sheet-charname span, 
.sheet-rolltemplate-tresd .sheet-charname span, 
.sheet-rolltemplate-lesion .sheet-charname span,
.sheet-rolltemplate-dmg .sheet-charname span
{
    font-size: 11px;
    font-weight: normal;
    color: #A0A0A0;
}

.sheet-rolltemplate-simple .sheet-dadito,
.sheet-rolltemplate-tres .sheet-dadito, 
.sheet-rolltemplate-tresd .sheet-dadito
{
    font-family: dicefontd12; 
    font-size: large;
    font-weight: bold;
}

.sheet-rolltemplate-simple,
.sheet-rolltemplate-moribundo,
.sheet-rolltemplate-muerte,
.sheet-rolltemplate-golpe,
.sheet-rolltemplate-conj,
.sheet-rolltemplate-tres,
.sheet-rolltemplate-tresd,
.sheet-rolltemplate-lesion,
.sheet-rolltemplate-dmg
{
    width: 14.35em;
}

.sheet-rolltemplate-simple .sheet-container,
.sheet-rolltemplate-moribundo .sheet-container,
.sheet-rolltemplate-muerte .sheet-container,
.sheet-rolltemplate-golpe .sheet-container,
.sheet-rolltemplate-conj .sheet-container,
.sheet-rolltemplate-tres .sheet-container,
.sheet-rolltemplate-tresd .sheet-container,
.sheet-rolltemplate-lesion .sheet-container,
.sheet-rolltemplate-dmg .sheet-container
{
    background-color: white;
    border          : 1px solid black;
    color           : black;
    width           : 100%;
    border-radius: 10px;
}

.sheet-rolltemplate-lesion .sheet-adv
{
    display       : inline-block;
    margin-top    : 1em;
    margin-bottom : 0.3em;
    text-align    : center;
    vertical-align: middle;
    width         : 57%;
}




.sheet-rolltemplate-muerte .sheet-adv,
.sheet-rolltemplate-golpe .sheet-adv,
.sheet-rolltemplate-dmg .sheet-adv,
.sheet-rolltemplate-simple .sheet-adv,
.sheet-rolltemplate-moribundo .sheet-adv,
.sheet-rolltemplate-conj .sheet-adv,
.sheet-rolltemplate-tres .sheet-adv,
.sheet-rolltemplate-tresd .sheet-adv
{
    display       : inline-block;
    margin-top    : 1em;
    margin-bottom : 0.3em;
    text-align: center;
    vertical-align: middle;
    width         : 67%;
}

.sheet-rolltemplate-dmg .sheet-templateimagen,
.sheet-rolltemplate-golpe .sheet-templateimagen,
.sheet-rolltemplate-muerte .sheet-templateimagen,
.sheet-rolltemplate-simple .sheet-templateimagen,
.sheet-rolltemplate-moribundo .sheet-templateimagen,
.sheet-rolltemplate-conj .sheet-templateimagen,
.sheet-rolltemplate-tres .sheet-templateimagen,
.sheet-rolltemplate-tresd .sheet-templateimagen
{
    display: inline;
    height: 55px;
    width: 55px;
    margin-left: 0em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-right: 0.1em;
    text-align: right;
}

.sheet-rolltemplate-lesion .sheet-templateimagen
{
    display: inline;
    height: 55px;
    width: 75px !important;
    margin-left: 0em;
    margin-top: 0.1em;
    margin-bottom: 0.2em;
    margin-right: 0.1em;
    text-align: right;
    
}



.sheet-rolltemplate-simple .sheet-adv span,
.sheet-rolltemplate-simple .sheet-solo span,
.sheet-rolltemplate-moribundo .sheet-adv span,
.sheet-rolltemplate-moribundo .sheet-solo span,
.sheet-rolltemplate-muerte .sheet-adv span,
.sheet-rolltemplate-muerte .sheet-solo span,
.sheet-rolltemplate-golpe .sheet-adv span,
.sheet-rolltemplate-golpe .sheet-solo span,
.sheet-rolltemplate-conj .sheet-adv span,
.sheet-rolltemplate-conj .sheet-solo span,
.sheet-rolltemplate-tres .sheet-adv span,
.sheet-rolltemplate-tres .sheet-solo span,
.sheet-rolltemplate-tresd .sheet-adv span,
.sheet-rolltemplate-tresd .sheet-solo span,
.sheet-rolltemplate-lesion .sheet-adv span,
.sheet-rolltemplate-lesion .sheet-solo span,
.sheet-rolltemplate-dmg .sheet-adv span,
.sheet-rolltemplate-dmg .sheet-solo span
{
    background-color: transparent;
    border: 0px;
    font-size: 1.2em;
    padding: 0px;
}

.sheet-rolltemplate-simple .sheet-advspacer,
.sheet-rolltemplate-moribundo .sheet-advspacer,
.sheet-rolltemplate-muerte .sheet-advspacer,
.sheet-rolltemplate-golpe .sheet-advspacer,
.sheet-rolltemplate-conj .sheet-advspacer,
.sheet-rolltemplate-tres .sheet-advspacer,
.sheet-rolltemplate-tresd .sheet-advspacer,
.sheet-rolltemplate-lesion .sheet-advspacer,
.sheet-rolltemplate-dmg .sheet-advspacer
{
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
    height: 20px;
    width: 0px;
}

.sheet-rolltemplate-simple .sheet-arrow-right,
.sheet-rolltemplate-moribundo .sheet-arrow-right,
.sheet-rolltemplate-muerte .sheet-arrow-right,
.sheet-rolltemplate-golpe .sheet-arrow-right,
.sheet-rolltemplate-conj .sheet-arrow-right,
.sheet-rolltemplate-tres .sheet-arrow-right,
.sheet-rolltemplate-tresd .sheet-arrow-right,
.sheet-rolltemplate-lesion .sheet-arrow-right,
.sheet-rolltemplate-dmg .sheet-arrow-right
{
    border-bottom: 2px solid transparent;
    border-left: 180px solid black;
    border-top: 3px solid transparent;
}

.sheet-rolltemplate-simple .sheet-arrow-left,
.sheet-rolltemplate-moribundo .sheet-arrow-left,
.sheet-rolltemplate-muerte .sheet-arrow-left,
.sheet-rolltemplate-golpe .sheet-arrow-left,
.sheet-rolltemplate-conj .sheet-arrow-left,
.sheet-rolltemplate-tres .sheet-arrow-left,
.sheet-rolltemplate-tresd .sheet-arrow-left,
.sheet-rolltemplate-lesion .sheet-arrow-left,
.sheet-rolltemplate-dmg .sheet-arrow-left
{
    border-bottom: 2px solid transparent;
    border-right: 180px solid black;
    border-top: 3px solid transparent;
}

.sheet-rolltemplate-simple .sheet-solo,
.sheet-rolltemplate-moribundo .sheet-solo,
.sheet-rolltemplate-muerte .sheet-solo,
.sheet-rolltemplate-golpe .sheet-solo,
.sheet-rolltemplate-conj .sheet-solo,
.sheet-rolltemplate-tres .sheet-solo,
.sheet-rolltemplate-tresd .sheet-solo,
.sheet-rolltemplate-lesion .sheet-solo,
.sheet-rolltemplate-dmg .sheet-solo
{
    height        : auto;
    padding-bottom: 0.5em;
    padding-top   : 1em;
    text-align    : center;
    width         : 100%;
}

.sheet-rolltemplate-simple span,
.sheet-rolltemplate-moribundo span,
.sheet-rolltemplate-muerte span,
.sheet-rolltemplate-golpe span,
.sheet-rolltemplate-conj span,
.sheet-rolltemplate-tres span,
.sheet-rolltemplate-tresd span,
.sheet-rolltemplate-lesion span,
.sheet-rolltemplate-dmg span
{
    font-size: 12px;
    font-weight: bold !important;
    line-height: 12px;
    text-align: center;
}

.sheet-rolltemplate-golpe .sheet-descontrol,
.sheet-rolltemplate-lesion .sheet-lesion,
.sheet-rolltemplate-simple .sheet-titulo,
.sheet-rolltemplate-moribundo .sheet-titulo,
.sheet-rolltemplate-muerte .sheet-titulo,
.sheet-rolltemplate-golpe .sheet-titulo,
.sheet-rolltemplate-conj .sheet-titulo,
.sheet-rolltemplate-tres .sheet-titulo,
.sheet-rolltemplate-tresd .sheet-titulo
{
    margin-top: 3px !important;
    font-size: 16px;
    font-weight: bold;
    line-height: 14px;
    text-align: center;
}

.sheet-rolltemplate-golpe .sheet-texto,
.sheet-rolltemplate-lesion .sheet-texto
{
    font-size: 13px;
    font-weight: normal;
    line-height: 15px;
    text-align: center;
    margin: 2px !important;
}



.sheet-rolltemplate-simple .sheet-label,
.sheet-rolltemplate-moribundo .sheet-label,
.sheet-rolltemplate-muerte .sheet-label,
.sheet-rolltemplate-golpe .sheet-label,
.sheet-rolltemplate-conj .sheet-label,
.sheet-rolltemplate-tres .sheet-label,
.sheet-rolltemplate-tresd .sheet-label,
.sheet-rolltemplate-lesion .sheet-label,
.sheet-rolltemplate-dmg .sheet-label
{
    margin-top: -3px;
    padding   : 0.25em;
    text-align: center;
}

.sheet-rolltemplate-simple .sheet-label span span,
.sheet-rolltemplate-moribundo .sheet-label span span,
.sheet-rolltemplate-muerte .sheet-label span span,
.sheet-rolltemplate-golpe .sheet-label span span,
.sheet-rolltemplate-conj .sheet-label span span,
.sheet-rolltemplate-tres .sheet-label span span,
.sheet-rolltemplate-tresd .sheet-label span span,
.sheet-rolltemplate-dmg .sheet-label span span
{
    padding: 0px;
    border: 0px;
    background-color: transparent;
    font-size: 12px;
}


.sheet-rolltemplate-simple .sheet-grey,

.sheet-rolltemplate-moribundo .sheet-grey,

.sheet-rolltemplate-muerte .sheet-grey,

.sheet-rolltemplate-golpe .sheet-grey,

.sheet-rolltemplate-conj .sheet-grey,

.sheet-rolltemplate-tres .sheet-grey,

.sheet-rolltemplate-tresd .sheet-grey,

.sheet-rolltemplate-lesion .sheet-grey,

.sheet-rolltemplate-dmg .sheet-grey

{
    color: #A0A0A0;
    border: 0px;
    font-weight: normal;
}


.sheet-rolltemplate-simple .sheet-green,
.sheet-rolltemplate-moribundo .sheet-green,
.sheet-rolltemplate-muerte .sheet-green,
.sheet-rolltemplate-golpe .sheet-green,
.sheet-rolltemplate-conj .sheet-green,
.sheet-rolltemplate-tres .sheet-green,
.sheet-rolltemplate-tresd .sheet-green
{
    color: #238300 !important;
    border: 0px;
}

.sheet-rolltemplate-simple .sheet-red,
.sheet-rolltemplate-moribundo .sheet-red,
.sheet-rolltemplate-muerte .sheet-red,
.sheet-rolltemplate-golpe .sheet-red,
.sheet-rolltemplate-conj .sheet-red,
.sheet-rolltemplate-tres .sheet-red,
.sheet-rolltemplate-lesion .sheet-red,
.sheet-rolltemplate-tresd .sheet-red
{
    color: #700000 !important;
    border: 0px;
}


/*Estilo de los botones en las macros*/

.sheet-rolltemplate-simple a[href^='!'],
.sheet-rolltemplate-simple a[href^='~'],
.sheet-rolltemplate-moribundo a[href^='!'],
.sheet-rolltemplate-moribundo a[href^='~'],
.sheet-rolltemplate-muerte a[href^='!'],
.sheet-rolltemplate-muerte a[href^='~'],
.sheet-rolltemplate-golpe a[href^='!'],
.sheet-rolltemplate-golpe a[href^='~'],
.sheet-rolltemplate-conj a[href^='!'],
.sheet-rolltemplate-conj a[href^='~'],
.sheet-rolltemplate-tres a[href^='!'],
.sheet-rolltemplate-tres a[href^='~'],
.sheet-rolltemplate-tresd a[href^='!'],
.sheet-rolltemplate-tresd a[href^='~'],
.sheet-rolltemplate-lesion a[href^='!'],
.sheet-rolltemplate-lesion a[href^='~'],
.sheet-rolltemplate-dmg a[href^='!'],
.sheet-rolltemplate-dmg a[href^='~']
{
    background-color:transparent;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px; 
    color:initial;
    display:inline;
    padding:1px;
}

/* ################################################### */
/* ################## ESTILOS PABLO ################## */
/* ################################################### */

.sheet-rolltemplates{
    display: none;
}

.sheet-logo{
    display: inline-block;
    height: 110%;
}

.sheet-cabecera{
    width: 80%;
    float: right;
}


.sheet-tipotiradas {
    display: inline-block;
    margin-right: 1em;
}

.sheet-tipotiradas input {
    max-width: 1em;
}





h1 {
    margin-bottom: 0.3em;
    text-align: center;
    font-variant: small-caps;
    
    
}


/* ################################################### */
/* ################## ESTILOS IÑIGO ################## */
/* ################################################### */

.sheet-morao{
    color: rebeccapurple;
}

.sheet-centrado
{
    text-align: center;
}

.sheet-verticalabajo
{
    vertical-align: bottom;
}

.sheet-acciones
{
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    height: 360px;
    margin-right:10px;
    
    clear:left;
}

.sheet-textoderecha
{
    text-align: right;
}

.sheet-negrita
{
    font-weight: bold;
}

.sheet-justify {
    text-align: justify;
  }

.sheet-margen10
{
    padding: 10px !important;
}

.sheet-recolocar {
    position: relative;
    left: 70px;
    margin-bottom:0px;
}


.sheet-inline
{
    display:inline;
}

.sheet-check {
    max-width: 2em;  
    position: relative;
    top: 0px;   
}

input {
    border-top: 0px solid rgb(0, 0, 0);
    border-left: 0px solid rgb(0, 0, 0);
    border-right: 0px solid rgb(0, 0, 0);
    border-radius: 0px; 
    background-color: transparent;
}

select {
    border-top: 0px solid rgb(0, 0, 0);
    border-left: 0px solid rgb(0, 0, 0);
    border-right: 0px solid rgb(0, 0, 0);
    border-radius: 0px; 
    background-color: transparent;
    
    vertical-align: middle !important;
    margin-bottom: 0 !important;
}

.sheet-bordecuad
{    
    border: 2px solid rgb(0, 0, 0);
    border-radius: 0px;   
}

.sheet-bordered
{    
    border: 2px solid rgb(0, 0, 0);
    border-radius: 6px;      
}

.sheet-bordeparentesis
{    
    border-right: 2px solid rgb(0, 0, 0);
    border-left: 2px solid rgb(0, 0, 0);
    border-radius: 10px;      
}

.sheet-bordetopbot
{    
    border-top: 3px solid rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 0, 0);
    border-radius: 0px;   
}

.sheet-bordetop
{    
    border-top: 3px solid rgb(0, 0, 0);
    border-radius: 0px;   
}

.sheet-bordebot
{    
    border-bottom: 3px solid rgb(0, 0, 0);
    border-radius: 0px;   
}

.sheet-smaller
{
    font-size: smaller;
}

.sheet-dadito 
{
    font-family: dicefontd12; 
    font-size: large;
    font-weight: bold;
}

.sheet-fuentehab
{
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: small !important;
    font-weight: bold !important;
}

.sheet-fuentehabcomb
{
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: small !important;
    font-weight: bold !important;
    line-height: 27px;  
}
    
.sheet-arial
{
    font-family: Arial, Helvetica, sans-serif !important;
}

.sheet-larger
{
    font-size: larger;
}

.sheet-versalitas{
    font-variant: small-caps;
}

.sheet-oculto
{
    display: none;
}

hr {
    clear: both;
    visibility: hidden;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.sheet-floatright {
    float: right;  
    }

.sheet-15porciento{
    float: left;
    width: 20%;
    }

.sheet-20porciento{
    float: left;
    width: 20%;
    }

.sheet-25porciento{
    float: left;
    width: 25%;
    }

.sheet-25porcientoder{
    float: right;
    width: 25%;
    }

.sheet-28porciento{
    float: left;
    width: 28%;
    }

.sheet-30porciento{
    float: left;
    width: 30%;
    } 
    
.sheet-35porciento{
    float: left;
    width: 35%;
    } 

.sheet-37porciento{
    float: left;
    width: 37.5%;
    } 

.sheet-40porciento{
    float: left;
    width: 40%;
    }    

.sheet-50porciento{
    float: left;
    width: 50%;
    }  

.sheet-60porciento{
    float: left;
    width: 60%;
    }

.sheet-70porciento{
    float: left;
    width: 70%;
    }   

.sheet-75porciento{
    float: left;
    width: 75%;
    }

.sheet-100porciento{
    width: 100%;
} 

.sheet-arrow-right
{
    border-bottom: 2px solid transparent;
    border-left: 800px solid black;
    border-top: 3px solid transparent;
}

.sheet-arrow-left
{
    border-bottom: 2px solid transparent;
    border-right: 800px solid black;
    border-top: 3px solid transparent;
}


/* ################################################### */
/* ###### CAMBIOS Y TRANSFORMACIONES DE FICHA ######## */
/* ################################################### */

input.sheet-toggle-show:not(:checked) ~ div.sheet-body,
input.sheet-toggle-hide:checked ~ div.sheet-body {
    display: none;
}

.sheet-block-a,
.sheet-block-switch:checked ~ .sheet-block-b {
  display: inline;
}

.sheet-block-b,
.sheet-block-switch:checked ~ .sheet-block-a {
  display: none;
}

.sheet-ficha_luchador,
.sheet-tipodeficha:checked ~ .sheet-ficha_mago {
  display: inline;
}

.sheet-ficha_mago,
.sheet-tipodeficha:checked ~ .sheet-ficha_luchador {
  display: none;
}

input.sheet-toggle-show:not(:checked) ~ div.sheet-body,
input.sheet-toggle-hide:checked ~ div.sheet-body {
    display: none;
}



/* ################################################### */
/* ############### BOTONES Y DIBUJOS ################# */
/* ################################################### */

input.sheet-innata
{
    max-width: 2em;  
    width: 12px;
    height: 12px;
    position: relative;
    vertical-align: middle;
    margin-right: -6px !important;
    color: black;
}

input.sheet-innatacomb
{
    max-width: 2em;  
    width: 12px;
    height: 12px;
    position: relative;
    vertical-align: middle;
    margin-right: 3px !important;
    color: black;
    Top: -2px;
}

.sheet-dibujito{
    height: 70px;
    width: 70px;
    margin-right: -9px !important;
    margin-left: 0px;
    position: relative;
    top: -11px;   
}

.sheet-dibujitoarm{
    height: 70px;
    width: 70px;
    margin-right: -9px !important;
    margin-left: 0px;
    position: relative;
    top: 19px;   
}

button[type=roll],
button[type=action],
button[type=compendium],
button[type=cancel],
button[type=submit],
button[type=finish],
button[type=back] {
    background-color: transparent;
    background-image: none;
    border: none;
    line-height: 12px;
    box-shadow: none;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    text-align:left;
    position:relative;
    
}

button[type=roll]::before {
    content: " " !important;
}

.sheet-botonimagen {
    position:relative;
    vertical-align: middle;
    height: 70px;
    width: 70px;
    margin-right: -15px !important;
    margin-left: 0px;
    top: -10px;   
    background-position: 0;


    background-size: 70px 70px;
    background-repeat: no-repeat;
}

.sheet-bconjuracion
{
    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/CCConjuracion.png") !important;
}
.sheet-bintensidad
{
    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/CCIntensidad.png") !important;
}

.sheet-bdisparo
{
    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/CCDisparo.png") !important;
}

.sheet-bdominio
{
    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/CCDominio.png") !important;
}

.sheet-bmovilidad
{
    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/CCEsquiva.png") !important;
}

.sheet-bdefensa
{
    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/CCBloqueo.png") !important;
}

.sheet-bpelea
{
    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/CCPelea.png") !important;
}

.sheet-bataque1
{
    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/CCAtaque1.png") !important;
}

.sheet-bdesvio
{
    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/CCDesvio.png") !important;
}

.sheet-bataque2
{
    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/CCAtaque2.png") !important;
}

.sheet-bataque3
{
    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/CCAtaque3.png") !important;
}

.sheet-bataquesa
{
    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/CCAtaqueSA.png") !important;
}

.sheet-bdesviosa
{
    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/CCDesvioSA.png") !important;
}



/* ################################################### */
/* ################ CARTELITOS INFO ################## */
/* ################################################### */

.sheet-hide {
    display: none;
  }
  
.sheet-myDIV:hover + .sheet-hide {
    display: block;
    color: red;
  }


/* ################################################### */
/* ########### QUITAR FLECHITAS A INPUT ############## */
/* ################################################### */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* ################################################### */
/* ################## CIRCULITOS ##################### */
/* ################################################### */

/* -----Hide actual radio----- */
input.sheet-rango[type="radio"],
input.sheet-rango2[type="radio"],
input.sheet-rango3[type="radio"],
input.sheet-rangox[type="checkbox"]
{
    max-width: 2em;  
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/*input.sheet-rangox[type="checkbox"]
{
    max-width: 2em;  
    width: 13px;
    height: 13px;
    position: relative;
    left: 2px;
    cursor: pointer;
    padding: 0;
    border-radius: 5px;
    border: solid 2px black;
}*/

/* -----Fake radio (los circulitos que sí se ven)----- */

input.sheet-rango[type="radio"] + span::before
{
    margin-right: 8px;
    border: solid 2px black;
    line-height: 13px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    background-color: black;
    
    
    
    color:black;
    content: "•";
    width: 13px;
    height: 13px; 
    font-size: 1em;

    
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

input.sheet-rango2[type="radio"] + span::before
{
    margin-right: 4px;
    border: solid 2px black;
    line-height: 12px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    background-color: black;
    
    
    color:black;
    content: "•";
    width: 12px;
    height: 12px; 
    font-size: 1em;

    /*Esto hace que sean círculos en vez de cuadrados ••●∴⋅⬤*/
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

input.sheet-rango3[type="radio"] + span::before
{
    margin-right: 5px;
    border: solid 2px black;
    line-height: 8px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    background-color: black;
    
    color:black;
    content: "•";
    width: 8px;
    height: 8px; 
    font-size: 1em;


    /*Esto hace que sean círculos en vez de cuadrados (puntos varios: •∴⋅⬤)*/
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

input.sheet-rangox[type="checkbox"] + span::before
{
    margin-right: 5px;
    border: solid 2px black;
    line-height: 8px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    
    
    color:black;
    content: "⬤";
    width: 8px;
    height: 8px; 
    font-size: 1em;


    /*Esto hace que sean círculos en vez de cuadrados (puntos varios: •∴⋅⬤)*/
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/* -----Remove dot from all radios _after_ selected one----- */
input.sheet-rango[type="radio"]:checked ~ input.sheet-rango[type="radio"] + span::before,
input.sheet-rango2[type="radio"]:checked ~ input.sheet-rango2[type="radio"] + span::before,
input.sheet-rango3[type="radio"]:checked ~ input.sheet-rango3[type="radio"] + span::before
{    
    content: "";
    background-color: transparent;
}

/*------------empty traits-----------*/
input.sheet-zero[type="radio"]:checked + span::before
{
    opacity: 0;
}

input.sheet-zero[type="radio"]:hover + span::before
{
    opacity: 1;
}

input.sheet-zero[type="radio"] + span::before
{
    font-size: 12px;
    content: "✖";
    opacity: 0.15;
    background-color: transparent;
}





/*quitar los dados
button[type=roll]::before{
    content: " " !important;
}
*/
