

/* Set the min-width so that when the window is resized the look will stay consistant */

.charsheet {
	background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/fondoespada.jpg");
    background-color: white;
    min-width: 865px;
    max-width: 865px;
}


/* Universal styling applied to all elements of these types */

h2 {
	font-size: 2em;
	margin-bottom: 10px;
	text-align: center;
}

label {
	display: inline-block;
	width: 31%;
}

input {
	display: inline-block;
	width: 165px;
}

img {
	max-height: 100px;
}

textarea {
	resize: vertical;
}

/* Targetted styling that only effects elements with these classes */
input.sheet-short {
	width: 17%;
}

select.sheet-dtype {
    vertical-align: top;
    width: 60px;
}
span.sheet-dee {
	font-size: 1.4em;
	font-weight: bold;
	left: -36%;
	padding-right: 4px;
	position: relative;
	top: 3px;
}

/* Targetted styling that only effects elements contained within the stated class */
.sheet-stats h3 {
	display: inline-block;
	text-align: left;
}

.sheet-stats h3:first-child {
	margin-left: 35%;
	margin-right: 15%;
}

.sheet-stats input {
	margin-right: 8%;
	width: 17%;
}
/***************************************/
/* FORMATO DE LAS PLANTILLAS DE TIRADAS*/
/***************************************/
  .sheet-rolltemplate-tirada .sheet-charname,
  .sheet-rolltemplate-moribundo .sheet-charname,
  .sheet-rolltemplate-lesion .sheet-charname,
  .sheet-rolltemplate-dmg .sheet-charname
{
    text-align: left;
}

.sheet-rolltemplate-tirada .sheet-charname span,
.sheet-rolltemplate-moribundo .sheet-charname span,
.sheet-rolltemplate-lesion .sheet-charname span,
.sheet-rolltemplate-dmg .sheet-charname span
{
    font-size: 10px;
    font-weight: normal;
    color: #666666;
    margin-left: 5px;
}

.sheet-rolltemplate-tirada .sheet-dadito
{
    font-family: dicefontd12; 
    font-size: large;
    font-weight: bold;
}

.sheet-rolltemplate-tirada,
.sheet-rolltemplate-moribundo,
.sheet-rolltemplate-muerte,
.sheet-rolltemplate-golpe,
.sheet-rolltemplate-lesion,
.sheet-rolltemplate-dmg
{
    width: 14.35em;
}

.sheet-rolltemplate-tirada .sheet-container,
.sheet-rolltemplate-moribundo .sheet-container,
.sheet-rolltemplate-muerte .sheet-container,
.sheet-rolltemplate-golpe .sheet-container,
.sheet-rolltemplate-lesion .sheet-container,
.sheet-rolltemplate-dmg .sheet-container
{
    background-color: white;
    border          : 1px solid black;
    color           : black;
    width           : 100%;
    border-radius: 10px;
}

.sheet-rolltemplate-lesion .sheet-adv
{
    display       : inline-block;
    margin-top    : 1em;
    margin-bottom : 0.3em;
    text-align    : center;
    vertical-align: middle;
    width         : 57%;
}

.sheet-rolltemplate-muerte .sheet-adv,
.sheet-rolltemplate-golpe .sheet-adv,
.sheet-rolltemplate-dmg .sheet-adv,
.sheet-rolltemplate-tirada .sheet-adv,
.sheet-rolltemplate-moribundo .sheet-adv
{
    display       : inline-block;
    margin-top    : 1em;
    margin-bottom : 0.1em;
    text-align: center;
    vertical-align: middle;
    width         : 67%;
}

.sheet-rolltemplate-dmg .sheet-templateimagen,
.sheet-rolltemplate-golpe .sheet-templateimagen,
.sheet-rolltemplate-muerte .sheet-templateimagen,
.sheet-rolltemplate-tirada .sheet-templateimagen,
.sheet-rolltemplate-moribundo .sheet-templateimagen
{
    display: inline;
    height: 55px;
    width: 55px;
    margin-left: 0em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-right: 0.1em;
    text-align: right;
    vertical-align: middle;
}


.sheet-rolltemplate-lesion .sheet-templateimagen
{
    display: inline;
    height: 55px;
    width: 75px !important;
    margin-left: 0em;
    margin-top: 0.1em;
    margin-bottom: 0.2em;
    margin-right: 0.1em;
    text-align: right;
}

.sheet-rolltemplate-tirada .sheet-adv span,
.sheet-rolltemplate-tirada .sheet-solo span,
.sheet-rolltemplate-moribundo .sheet-adv span,
.sheet-rolltemplate-moribundo .sheet-solo span,
.sheet-rolltemplate-muerte .sheet-adv span,
.sheet-rolltemplate-muerte .sheet-solo span,
.sheet-rolltemplate-golpe .sheet-adv span,
.sheet-rolltemplate-golpe .sheet-solo span,
.sheet-rolltemplate-lesion .sheet-adv span,
.sheet-rolltemplate-lesion .sheet-solo span,
.sheet-rolltemplate-dmg .sheet-adv span,
.sheet-rolltemplate-dmg .sheet-solo span
{
    background-color: transparent;
    border: 0px;
    font-size: 1.2em;
    padding: 0px;
}

.sheet-rolltemplate-tirada .sheet-advspacer,
.sheet-rolltemplate-moribundo .sheet-advspacer,
.sheet-rolltemplate-muerte .sheet-advspacer,
.sheet-rolltemplate-golpe .sheet-advspacer,
.sheet-rolltemplate-lesion .sheet-advspacer,
.sheet-rolltemplate-dmg .sheet-advspacer
{
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
    height: 20px;
    width: 0px;
}

.sheet-rolltemplate-tirada .sheet-arrow-right,
.sheet-rolltemplate-moribundo .sheet-arrow-right,
.sheet-rolltemplate-muerte .sheet-arrow-right,
.sheet-rolltemplate-golpe .sheet-arrow-right,
.sheet-rolltemplate-lesion .sheet-arrow-right,
.sheet-rolltemplate-dmg .sheet-arrow-right
{
    border-bottom: 2px solid transparent;
    border-left: 180px solid black;
    border-top: 3px solid transparent;
}

.sheet-rolltemplate-tirada .sheet-arrow-left,
.sheet-rolltemplate-moribundo .sheet-arrow-left,
.sheet-rolltemplate-muerte .sheet-arrow-left,
.sheet-rolltemplate-golpe .sheet-arrow-left,
.sheet-rolltemplate-lesion .sheet-arrow-left,
.sheet-rolltemplate-dmg .sheet-arrow-left
{
    border-bottom: 2px solid transparent;
    border-right: 180px solid black;
    border-top: 3px solid transparent;
}

.sheet-rolltemplate-tirada .sheet-solo,
.sheet-rolltemplate-moribundo .sheet-solo,
.sheet-rolltemplate-muerte .sheet-solo,
.sheet-rolltemplate-golpe .sheet-solo,
.sheet-rolltemplate-lesion .sheet-solo,
.sheet-rolltemplate-dmg .sheet-solo
{
    height        : auto;
    padding-bottom: 0.5em;
    padding-top   : 1em;
    text-align    : center;
    width         : 100%;
}

.sheet-rolltemplate-tirada span,
.sheet-rolltemplate-moribundo span,
.sheet-rolltemplate-muerte span,
.sheet-rolltemplate-golpe span,
.sheet-rolltemplate-lesion span,
.sheet-rolltemplate-dmg span
{
    font-size: 12px;
    font-weight: bold !important;
    line-height: 12px;
    text-align: center;
    border: transparent !important;
    background-color: transparent !important;
}

.sheet-rolltemplate-golpe .sheet-descontrol,
.sheet-rolltemplate-lesion .sheet-lesion,
.sheet-rolltemplate-tirada .sheet-titulo,
.sheet-rolltemplate-moribundo .sheet-titulo,
.sheet-rolltemplate-muerte .sheet-titulo,
.sheet-rolltemplate-golpe .sheet-titulo
{
    margin-top: 3px !important;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    text-align: center;
    border: 0px;
    background-color: transparent !important;
}

.sheet-rolltemplate-golpe .sheet-texto,
.sheet-rolltemplate-lesion .sheet-texto,
.sheet-rolltemplate-tirada .sheet-texto
{
    font-size: 13px;
    font-weight: normal;
    line-height: 15px;
    text-align: center;
    margin: 2px !important;
}


.sheet-rolltemplate-tirada .sheet-label,
.sheet-rolltemplate-moribundo .sheet-label,
.sheet-rolltemplate-muerte .sheet-label,
.sheet-rolltemplate-golpe .sheet-label,
.sheet-rolltemplate-lesion .sheet-label,
.sheet-rolltemplate-dmg .sheet-label
{
    margin-top: -3px;
    padding   : 0.25em;
    text-align: center;
    background-color: transparent;
}

.sheet-rolltemplate-tirada .sheet-label span span,
.sheet-rolltemplate-moribundo .sheet-label span span,
.sheet-rolltemplate-muerte .sheet-label span span,
.sheet-rolltemplate-golpe .sheet-label span span,
.sheet-rolltemplate-dmg .sheet-label span span
{
    padding: 0px;
    border: 0px;
    background-color: transparent;
    font-size: 12px;
}


.sheet-rolltemplate-tirada .sheet-grey,
.sheet-rolltemplate-moribundo .sheet-grey,
.sheet-rolltemplate-muerte .sheet-grey,
.sheet-rolltemplate-golpe .sheet-grey,
.sheet-rolltemplate-lesion .sheet-grey,
.sheet-rolltemplate-dmg .sheet-grey

{
    color: #A0A0A0;
    border: 0px;
    font-weight: normal;
}


.sheet-rolltemplate-tirada .sheet-green,
.sheet-rolltemplate-moribundo .sheet-green,
.sheet-rolltemplate-muerte .sheet-green,
.sheet-rolltemplate-golpe .sheet-green
{
    color: #238300 !important;
    border: 0px;
}

.sheet-rolltemplate-tirada .sheet-red,
.sheet-rolltemplate-moribundo .sheet-red,
.sheet-rolltemplate-muerte .sheet-red,
.sheet-rolltemplate-golpe .sheet-red,
.sheet-rolltemplate-lesion .sheet-red
{
    color: #700000 !important;
    border: 0px;
}


/*Estilo de los botones en las macros*/

.sheet-rolltemplate-tirada a[href^='!'],
.sheet-rolltemplate-tirada a[href^='~'],
.sheet-rolltemplate-moribundo a[href^='!'],
.sheet-rolltemplate-moribundo a[href^='~'],
.sheet-rolltemplate-muerte a[href^='!'],
.sheet-rolltemplate-muerte a[href^='~'],
.sheet-rolltemplate-golpe a[href^='!'],
.sheet-rolltemplate-golpe a[href^='~'],
.sheet-rolltemplate-lesion a[href^='!'],
.sheet-rolltemplate-lesion a[href^='~'],
.sheet-rolltemplate-dmg a[href^='!'],
.sheet-rolltemplate-dmg a[href^='~']
{
    background-color:transparent;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px; 
    color:initial;
    display:inline;
    padding:1px;
}

/* ################################################### */
/* ################## ESTILOS PABLO ################## */
/* ################################################### */

.sheet-rolltemplates{
    display: none;
}

.sheet-logo{
    display: inline-block;
    height: 110%;
}

.sheet-cabecera{
    width: 80%;
    float: right;
}

.sheet-tipotiradas {
    display: inline-block;
    margin-right: 1em;
}

.sheet-tipotiradas input {
    max-width: 1em;
}

h1 {
    margin-bottom: 0.3em;
    text-align: center;
    font-variant: small-caps; 
}


/* ################################################### */
/* ################## ESTILOS IÑIGO ################## */
/* ################################################### */

.sheet-morao{
    color: rebeccapurple;
}

.sheet-noseleccionable {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */      
}

.sheet-centrado
{
    text-align: center;
}

.sheet-verticalabajo
{
    vertical-align: bottom;
}

.sheet-notas
{
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    height: 330px;
    margin-right:10px;
    padding: 5px;
    clear:left;
    overflow: auto;
}

.sheet-notasgrimorio
{
    height: 280px;
    margin-right:10px;
    padding: 5px;
    clear:left;
    overflow: auto;
}

.sheet-notasgrande
{
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    max-height: 300px;
    min-height: 100px;
    margin-right:10px;
    padding: 5px;
    clear:left;
    overflow: auto;
}

.sheet-notascoliseo
{
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    height: 250px;
    margin-right:0px;
    clear:left;
    padding: 5px;
    overflow: auto;
}

.sheet-nota
{
    font-weight: bold;
    font-size: larger;
    line-height: 12px;

    margin-right:10px;
    margin-top: 18px;
    margin-bottom: 18px;
    text-indent: -30px !important;
}

.sheet-notagrimorio
{
    font-weight: bold;
    font-size: medium;
    line-height: 12px;

    margin-right:10px;
    margin-top: 18px;
    margin-bottom: 18px;
    text-indent: -30px !important;
}

.sheet-mininota
{
    font-size: smaller;
    line-height: 12px;
}

.sheet-textoderecha
{
    text-align: right;
}

.sheet-negrita
{
    font-weight: bold;
}

.sheet-justify {
    text-align: justify;
  }

.sheet-margen10
{
    padding: 10px !important;
}

.sheet-recolocar {
    position: relative;
    left: 70px;
    margin-bottom:0px;
}


.sheet-inline
{
    display:inline;
}

.sheet-check {
    max-width: 2em;  
    position: relative;
    top: 0px;   
}

input {
    border-top: 0px solid rgb(0, 0, 0);
    border-left: 0px solid rgb(0, 0, 0);
    border-right: 0px solid rgb(0, 0, 0);
    border-radius: 0px; 
    background-color: transparent;
}

select {
    border-top: 0px solid rgb(0, 0, 0);
    border-left: 0px solid rgb(0, 0, 0);
    border-right: 0px solid rgb(0, 0, 0);
    border-radius: 0px; 
    background-color: transparent;
    
    vertical-align: middle !important;
    margin-bottom: 0 !important;
}

.sheet-bordecuad
{    
    border: 2px solid rgb(0, 0, 0);
    border-radius: 0px;   
}

.sheet-bordered
{    
    border: 2px solid rgb(0, 0, 0);
    border-radius: 6px;      
}

.sheet-bordeparentesis
{    
    border-right: 2px solid rgb(0, 0, 0);
    border-left: 2px solid rgb(0, 0, 0);
    border-radius: 10px;      
}

.sheet-bordetopbot
{    
    border-top: 3px solid rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 0, 0);
    border-radius: 0px;   
}

.sheet-bordetop
{    
    border-top: 3px solid rgb(0, 0, 0);
    border-radius: 0px;   
}

.sheet-bordebot
{    
    border-bottom: 3px solid rgb(0, 0, 0);
    border-radius: 0px;   
}

.sheet-smaller
{
    font-size: smaller;
}

.sheet-dadito 
{
    font-family: dicefontd12; 
    font-size: large;
    font-weight: bold;
}

.sheet-fuentehab
{
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: small !important;
    font-weight: bold !important;
}

.sheet-fuentehabcomb
{
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: small !important;
    font-weight: bold !important;
    line-height: 27px;  
}
    
.sheet-arial
{
    font-family: Arial, Helvetica, sans-serif !important;
}

.sheet-larger
{
    font-size: larger;
}

.sheet-versalitas{
    font-variant: small-caps;
}

.sheet-oculto
{
    display: none !important;
}

hr {
    clear: both;
    visibility: hidden;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.sheet-floatright {
    float: right;  
    }

.sheet-15porciento{
    float: left;
    width: 15%;
    }

.sheet-20porciento{
    float: left;
    width: 20%;
    }

.sheet-25porciento{
    float: left;
    width: 25%;
    }

.sheet-25porcientoder{
    float: right;
    width: 25%;
    }

.sheet-26porciento{
    float: left;
    width: 26%;
    }

.sheet-28porciento{
    float: left;
    width: 28%;
    }

.sheet-30porciento{
    float: left;
    width: 30%;
    } 

.sheet-33porciento{
    float: left;
    width: 33%;
    } 
    
.sheet-35porciento{
    float: left;
    width: 35%;
    } 

    .sheet-36porciento{
        float: left;
        width: 36%;
        } 

.sheet-37porciento{
    float: left;
    width: 37.5%;
    } 

.sheet-40porciento{
    float: left;
    width: 40%;
    }    

.sheet-45porciento{
    float: left;
    width: 45%;
    }  

.sheet-50porciento{
    float: left;
    width: 50%;
    }  

.sheet-54porciento{
    float: left;
    width: 54%;
    }     

.sheet-60porciento{
    float: left;
    width: 60%;
    }

.sheet-67porciento{
    float: left;
    width: 67%;
    }  

.sheet-70porciento{
    float: left;
    width: 70%;
    }   

.sheet-75porciento{
    float: left;
    width: 75%;
    }

.sheet-100porciento{
    width: 100%;
    float: left;
} 

.sheet-arrow-right
{
    border-bottom: 2px solid transparent;
    border-left: 855px solid black;
    border-top: 3px solid transparent;
}

.sheet-shortarrow-right
{
    border-bottom: 2px solid transparent;
    border-left: 405px solid black;
    border-top: 2px solid transparent;
}

.sheet-arrow-left
{
    border-bottom: 2px solid transparent;
    border-right: 855px solid black;
    border-top: 3px solid transparent;
}

.sheet-arrow-subright
{
    position: absolute;
    z-index: 2;
    border-bottom: 2px solid transparent;
    border-left: 100px solid black;
    left: 77%;
    border-top: 3px solid transparent;
}

.sheet-arrow-subleft
{
    position: absolute;
    z-index: 3;
    border-bottom: 2px solid transparent;
    border-right: 100px solid black;
    right: 23%;
    border-top: 3px solid transparent;
}

.sheet-descripcion{
    background: none;
    min-height: 30px;
    height: 38px;
    width: 100%;
    overflow: auto;
    resize: vertical;
    padding-bottom: 0px;
    padding-right: 5px;
    border: none;
}

.sheet-nombre{
    background: none;
    border: none;
    width:100%; 
    font-size:larger;
    font-weight: bold;
}

.sheet-tipo{
    background: none;
    border: none;
    width:100%;
    text-align: center;
}

.sheet-cuadrodmg{
    background: none;
    border: 3px solid black;
    border-radius: 10px;
    width:120px;
    font-weight: bold;
    display: inline;
    margin-right: 3px;
    margin-left: 3px;

}

.sheet-bonificadorcoliseo {
    display: inline-block;
    font-size: 17px; 
    font-weight: bold;
    z-index: 3;
    position: relative;
    text-align: center;
    left: -18px;
    top: -15px;
    margin-right: -35px;
    line-height: 30px;

    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px; 
    background-color: white;
    width: 30px;
    height: 30px !important;
}

.sheet-bonificadorcoliseoarm {
    display: inline-block;
    font-size: 17px; 
    font-weight: bold;
    z-index: 3;
    position: relative;
    text-align: center;
    left: -18px;
    top: -15px;
    margin-right: -15px;
    line-height: 30px;

    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px; 
    background-color: white;
    width: 30px;
    height: 30px !important;
}

.sheet-bonificadorcoliseo2 {
    display: inline-block;
    font-size: 17px; 
    font-weight: bold;
    z-index: 3;
    position: relative;
    text-align: center;
    left: -30px;
    top: -15px;
    margin-right: -35px;
    line-height: 30px;

    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px; 
    background-color: white;
    width: 30px;
    height: 30px !important;
}

.sheet-salvaciones {
    display: inline-block !important;
    margin: 10px !important;
    border: 3px solid rgb(0, 0, 0) !important;
    border-radius: 10px !important;
    padding: 8px 15px !important;
    font-size: large !important;
}

/* ################################################### */
/* ################ CARTELITOS INFO ################## */
/* ################################################### */

.sheet-recuadro {
    display: none;
    border-radius: 10px;
    box-shadow: 5px 5px 8px #ccc;
    position:relative;
    z-index: 5;
    padding: 10px 15px;
    margin-top: 2px;
    margin-left: 0px;
    width: 400px !important;
    line-height: 16px;
    color: #111;
    border: 1px solid #dca;
    background: #fffaf0;
}

.sheet-recuadroeditar {
    display: none;
    border-radius: 10px;
    box-shadow: 5px 5px 8px #ccc;
    position:relative;
    z-index: 5;
    padding: 10px 15px;
    margin-top: 2px;
    margin-left: -125px;
    width: 250px !important;
    line-height: 16px;
    color: #111;
    border: 1px solid #dca;
    background: #fffaf0;
}

.sheet-recuadroeditarxl {
    display: none;
    border-radius: 10px;
    box-shadow: 5px 5px 8px #ccc;
    position:relative;
    z-index: 5;
    padding: 10px 15px;
    margin-top: 2px;
    margin-left: -125px;
    width: 350px !important;
    line-height: 16px;
    color: #111;
    border: 1px solid #dca;
    background: #fffaf0;
}

.sheet-recuadroeditarxxl {
    display: none;
    border-radius: 10px;
    box-shadow: 5px 5px 8px #ccc;
    position:relative;
    z-index: 5;
    padding: 10px 15px;
    margin-top: 2px;
    margin-left: -125px;
    width: 350px !important;
    line-height: 16px;
    color: #111;
    border: 1px solid #dca;
    background: #fffaf0;
}

.sheet-recuadrogrimorio {
    display: none;
    border-radius: 10px;
    box-shadow: 5px 5px 8px #ccc;
    position:relative;
    z-index: 5;
    padding: 10px 15px;
    margin-top: 0px;
    margin-left: -620px;
    width: 850px !important;
    line-height: 16px;
    color: #111;
    border: 1px solid #dca;
    background: #fffaf0;
}


.sheet-botoninfocoliseo {
    font-family:Pictos; 
    font-size: x-large; 
    z-index: 5;
    position:relative;
    text-align: left !important;
    left: 0px;
    top: -15px;
    margin-left: -10px;
    margin-right: -15px;

}

.sheet-infotitulo {
    border: 0px;
    font-size: larger;
    font-weight: bold;
    display: block;
    overflow: hidden;
    min-height: 20px;
    margin-bottom: 3px;
    padding-top: 15px;
    min-height: 20px;
}

.sheet-infotitulo1 {
    border: 0px;
    font-size: larger;
    font-weight: bold;
    display: block;
    overflow: hidden;
    min-height: 20px;
    margin-bottom: 3px;
    padding-top: 0px;
    min-height: 20px;
}

.sheet-infoespconj {
    border: 0px;
    overflow: hidden;
    font-style: italic;
    margin-left: 3px;
    text-transform: uppercase;
}

.sheet-infobonificador {
    border: 0px;
    font-weight: bold;
    display: inline;
    overflow: hidden;    
    text-align: left !important;
    line-height: 20px;
    margin-left: 10px;
    margin-right: -8px;
    
}

.sheet-infotexto {
    border: 0px;
    display: block;
    overflow: hidden;
    min-height: 20px;
    line-height: 20px;
    text-align: justify !important;
    text-indent: 10px;
}

.textarea {
    display: block;
    width: 300px;
    overflow: hidden;
    min-height: 40px;
    line-height: 20px;
}

.sheet-tooltip {
    outline: none;
    cursor: help;
}

.sheet-tooltip strong { line-height: 30px; }

.sheet-tooltip:hover .sheet-info,
.sheet-tooltip:hover .sheet-infoacciones,
.sheet-tooltip:hover .sheet-infogrimorio,
.sheet-tooltip:hover .sheet-infocoliseo
{
    display: block;
    position: absolute;
}

.sheet-tooltip:hover { text-decoration: none; }

.sheet-tooltip .sheet-info {
    display: none;
    border-radius: 10px;
    box-shadow: 5px 5px 8px #ccc;
    z-index: 10;
    padding: 10px 15px;
    margin-top: -30px;
    margin-left: 28px;
    width: 300px;
    line-height: 16px;
    color: #111;
    border: 1px solid #dca;
    background: #fffaf0;
}

.sheet-tooltip .sheet-infoacciones {
    display: none;
    border-radius: 10px;
    box-shadow: 5px 5px 8px #ccc;
    z-index: 10;
    padding: 10px 15px;
    margin-top: -90px;
    margin-left: 28px;
    min-width: 200px;
    max-width: 500px;
    line-height: 16px;
    color: #111;
    border: 1px solid #dca;
    background: #fffaf0;
}

.sheet-tooltip .sheet-infogrimorio {
    display: none;
    border-radius: 10px;
    box-shadow: 5px 5px 8px #ccc;
    z-index: 10;
    padding: 10px 15px;
    margin-top: -70px;
    margin-left: -538px;
    min-width: 200px;
    max-width: 500px;
    line-height: 16px;
    color: #111;
    border: 1px solid #dca;
    background: #fffaf0;
}

.sheet-tooltip .sheet-infocoliseo {
    display: none;
    border-radius: 10px;
    box-shadow: 5px 5px 8px #ccc;
    z-index: 10;
    padding: 10px 15px;
    margin-top: -90px;
    margin-left: 35px;
    min-width: 200px;
    max-width: 250px;
    line-height: 16px;
    color: #111;
    border: 1px solid #dca;
    background: #fffaf0;
}


/* ################################################### */
/* ###### CAMBIOS Y TRANSFORMACIONES DE FICHA ######## */
/* ################################################### */

input.sheet-toggle-show:not(:checked) ~ div.sheet-body {
    display: none;
}

input.sheet-mostrar_talentos:not(:checked) ~ div.sheet-editable_talentos,
input.sheet-mostrar_rasgos:not(:checked) ~ div.sheet-editable_rasgos, 
input.sheet-mostrar_conjuros:not(:checked) ~ div.sheet-editable_conjuros,
input.sheet-mostrar_conjuropreparado:not(:checked) ~ div.sheet-editable_conjuropreparado,
input.sheet-mostrar_notas:not(:checked) ~ div.sheet-editable_notas,
input.sheet-mostrar_magia:not(:checked) ~ div.sheet-editable_magia 
{
    display: none;
}

input.sheet-mostrar_conjuracion:not(:checked) ~ div.sheet-especial_conjuracion,
input.sheet-mostrar_intensidad:not(:checked) ~ div.sheet-especial_intensidad,
input.sheet-mostrar_celeridad:not(:checked) ~ div.sheet-especial_celeridad
{
    display: none !important;
}

input.sheet-mostrar_rasgo1:not(:checked) ~ div.sheet-nota_rasgo1,
input.sheet-mostrar_rasgo2:not(:checked) ~ div.sheet-nota_rasgo2,
input.sheet-mostrar_rasgo3:not(:checked) ~ div.sheet-nota_rasgo3,
input.sheet-mostrar_rasgo4:not(:checked) ~ div.sheet-nota_rasgo4,
input.sheet-mostrar_rasgo5:not(:checked) ~ div.sheet-nota_rasgo5,
input.sheet-mostrar_rasgo6:not(:checked) ~ div.sheet-nota_rasgo6,
input.sheet-mostrar_rasgo7:not(:checked) ~ div.sheet-nota_rasgo7,
input.sheet-mostrar_rasgo8:not(:checked) ~ div.sheet-nota_rasgo8,
input.sheet-mostrar_rasgo9:not(:checked) ~ div.sheet-nota_rasgo9,
input.sheet-mostrar_rasgo10:not(:checked) ~ div.sheet-nota_rasgo10,
input.sheet-mostrar_rasgo11:not(:checked) ~ div.sheet-nota_rasgo11,
input.sheet-mostrar_rasgo12:not(:checked) ~ div.sheet-nota_rasgo12,
input.sheet-mostrar_rasgo13:not(:checked) ~ div.sheet-nota_rasgo13,
input.sheet-mostrar_rasgo14:not(:checked) ~ div.sheet-nota_rasgo14,
input.sheet-mostrar_rasgo15:not(:checked) ~ div.sheet-nota_rasgo15
 {
    display: none !important;
}

input.sheet-mostrar_talento1:not(:checked) ~ div.sheet-nota_talento1,
input.sheet-mostrar_talento2:not(:checked) ~ div.sheet-nota_talento2,
input.sheet-mostrar_talento3:not(:checked) ~ div.sheet-nota_talento3,
input.sheet-mostrar_talento4:not(:checked) ~ div.sheet-nota_talento4,
input.sheet-mostrar_talento5:not(:checked) ~ div.sheet-nota_talento5,
input.sheet-mostrar_talento6:not(:checked) ~ div.sheet-nota_talento6,
input.sheet-mostrar_talento7:not(:checked) ~ div.sheet-nota_talento7,
input.sheet-mostrar_talento8:not(:checked) ~ div.sheet-nota_talento8,
input.sheet-mostrar_talento9:not(:checked) ~ div.sheet-nota_talento9,
input.sheet-mostrar_talento10:not(:checked) ~ div.sheet-nota_talento10
{
    display: none !important;
}

input.sheet-mostrar_conjuro1:not(:checked) ~ div.sheet-nota_conjuro1,
input.sheet-mostrar_conjuro2:not(:checked) ~ div.sheet-nota_conjuro2,
input.sheet-mostrar_conjuro3:not(:checked) ~ div.sheet-nota_conjuro3,
input.sheet-mostrar_conjuro4:not(:checked) ~ div.sheet-nota_conjuro4,
input.sheet-mostrar_conjuro5:not(:checked) ~ div.sheet-nota_conjuro5,
input.sheet-mostrar_conjuro6:not(:checked) ~ div.sheet-nota_conjuro6,
input.sheet-mostrar_conjuro7:not(:checked) ~ div.sheet-nota_conjuro7,
input.sheet-mostrar_conjuro8:not(:checked) ~ div.sheet-nota_conjuro8,
input.sheet-mostrar_conjuro9:not(:checked) ~ div.sheet-nota_conjuro9,
input.sheet-mostrar_conjuro10:not(:checked) ~ div.sheet-nota_conjuro10,
input.sheet-mostrar_conjuro11:not(:checked) ~ div.sheet-nota_conjuro11,
input.sheet-mostrar_conjuro12:not(:checked) ~ div.sheet-nota_conjuro12,
input.sheet-mostrar_conjuro13:not(:checked) ~ div.sheet-nota_conjuro13,
input.sheet-mostrar_conjuro14:not(:checked) ~ div.sheet-nota_conjuro14,
input.sheet-mostrar_conjuro15:not(:checked) ~ div.sheet-nota_conjuro15,
input.sheet-mostrar_conjuro16:not(:checked) ~ div.sheet-nota_conjuro16,
input.sheet-mostrar_conjuro17:not(:checked) ~ div.sheet-nota_conjuro17,
input.sheet-mostrar_conjuro18:not(:checked) ~ div.sheet-nota_conjuro18,
input.sheet-mostrar_conjuro19:not(:checked) ~ div.sheet-nota_conjuro19,
input.sheet-mostrar_conjuro20:not(:checked) ~ div.sheet-nota_conjuro20,
input.sheet-mostrar_conjuro21:not(:checked) ~ div.sheet-nota_conjuro21
 {
    display: none !important;
}

input.sheet-mostrar_conjuropreparado1:not(:checked) ~ div.sheet-nota_conjuropreparado1,
input.sheet-mostrar_conjuropreparado2:not(:checked) ~ div.sheet-nota_conjuropreparado2,
input.sheet-mostrar_conjuropreparado3:not(:checked) ~ div.sheet-nota_conjuropreparado3,
input.sheet-mostrar_conjuropreparado4:not(:checked) ~ div.sheet-nota_conjuropreparado4,
input.sheet-mostrar_conjuropreparado5:not(:checked) ~ div.sheet-nota_conjuropreparado5,
input.sheet-mostrar_conjuropreparado6:not(:checked) ~ div.sheet-nota_conjuropreparado6,
input.sheet-mostrar_conjuropreparado7:not(:checked) ~ div.sheet-nota_conjuropreparado7,
input.sheet-mostrar_conjuropreparado8:not(:checked) ~ div.sheet-nota_conjuropreparado8,
input.sheet-mostrar_conjuropreparado9:not(:checked) ~ div.sheet-nota_conjuropreparado9,
input.sheet-mostrar_conjuropreparado10:not(:checked) ~ div.sheet-nota_conjuropreparado10,
input.sheet-mostrar_conjuropreparado11:not(:checked) ~ div.sheet-nota_conjuropreparado11,
input.sheet-mostrar_conjuropreparado12:not(:checked) ~ div.sheet-nota_conjuropreparado12,
input.sheet-mostrar_conjuropreparado13:not(:checked) ~ div.sheet-nota_conjuropreparado13,
input.sheet-mostrar_conjuropreparado14:not(:checked) ~ div.sheet-nota_conjuropreparado14,
input.sheet-mostrar_conjuropreparado15:not(:checked) ~ div.sheet-nota_conjuropreparado15,
input.sheet-mostrar_conjuropreparado16:not(:checked) ~ div.sheet-nota_conjuropreparado16,
input.sheet-mostrar_conjuropreparado17:not(:checked) ~ div.sheet-nota_conjuropreparado17,
input.sheet-mostrar_conjuropreparado18:not(:checked) ~ div.sheet-nota_conjuropreparado18,
input.sheet-mostrar_conjuropreparado19:not(:checked) ~ div.sheet-nota_conjuropreparado19,
input.sheet-mostrar_conjuropreparado20:not(:checked) ~ div.sheet-nota_conjuropreparado20,
input.sheet-mostrar_conjuropreparado21:not(:checked) ~ div.sheet-nota_conjuropreparado21
 {
    display: none !important;
}

.sheet-hojacombate,
.sheet-cambiodehoja:checked ~ .sheet-hojatalentos {
  display: inline;
}

.sheet-hojatalentos,
.sheet-cambiodehoja:checked ~ .sheet-hojacombate {
  display: none;
}

.sheet-hojanormal,
.sheet-modocoliseo:checked ~ .sheet-hojacoliseo {
  display: inline;
}

.sheet-hojacoliseo,
.sheet-modocoliseo:checked ~ .sheet-hojanormal {
  display: none;
}

.sheet-cuadro_acciones,
.sheet-cuadronotas:checked ~ .sheet-cuadro_especial {
  display: inline;
}

.sheet-cuadro_especial,
.sheet-cuadronotas:checked ~ .sheet-cuadro_acciones {
  display: none;
}


div.sheet-tab-content { display: none; }
input.sheet-tab1:checked ~ div.sheet-tab1,
input.sheet-tab2:checked ~ div.sheet-tab2
{
    display: block;
}
input.sheet-tab{
    width:100px;
    height: 16px;
    top: 5px;
    left: 6px;
    margin: 4px;
    margin-top: 1px;
    margin-bottom: 1px;
    float: right;
    cursor: pointer;
    z-index: 1;
}
input.sheet-tab::before{
    content: attr(title);

    border-radius:.5em;
    border:2px solid black;
    text-align: center;
    display: inline-block;
    
    background: #CCCCCC;
    color:black;
    width: 100px;
    height: 16px;
    font-size: 14px;
    font-weight: bold;
}
input.sheet-tab:checked::before{
    background:black;
    color:white;
    border-radius:.5em;
    border:2px solid black;
}

div.sheet-tabmagia-content { display: none; }
input.sheet-tab1magia:checked ~ div.sheet-tab1magia,
input.sheet-tab2magia:checked ~ div.sheet-tab2magia
{
    display: block;
}
input.sheet-tabmagia{
    width:100px;
    height: 16px;
    top: 5px;
    left: 6px;
    margin: 4px;
    margin-top: 1px;
    margin-bottom: 1px;
    float: right;
    cursor: pointer;
    z-index: 1;
}
input.sheet-tabmagia::before{
    content: attr(title);

    border-radius:.5em;
    border:2px solid black;
    text-align: center;
    display: inline-block;
    
    background: #CCCCCC;
    color:black;
    width: 100px;
    height: 16px;
    font-size: 14px;
    font-weight: bold;
}
input.sheet-tabmagia:checked::before{
    background:black;
    color:white;
    border-radius:.5em;
    border:2px solid black;
}


div.sheet-tabrasgos-content { display: none; }
input.sheet-tabrasgos:checked ~ div.sheet-tabrasgos
{
    display: inline-block;
}
input.sheet-tabrasgos{
    width: 32px;
    height: 32px;
    
    float: left;
    cursor: pointer;
    z-index: 1;

    border: none;
    background: none;
    color: none;
    
    opacity: 0;
}
input.sheet-tabrasgos + span::before{
    content: "";

    border: none;
    text-align: center;
    float: left;
    background: none;
    width: 32px;
    height: 32px;
    font-size: 14px;
    font-weight: bold;

    margin-left: -32px;
    margin-right: 15px;

    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/scroll.png") !important;
    background-position: 0;
    background-size: 32px 32px;
    background-repeat: no-repeat;
}
input.sheet-tabrasgos:checked + span::before{
    content: "✖";
    background:none;
    border: none;

    font-size: 32px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    color:red;

    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/scroll.png") !important;
    background-position: 0;
    background-size: 32px 32px;
    background-repeat: no-repeat;
}

div.sheet-tabcarga-content { display: none; }
input.sheet-tabcarga:checked ~ div.sheet-tabcarga
{
    display: inline-block;
}
input.sheet-tabcarga{
    width: 32px;
    height: 32px;
    
    float: left;
    cursor: pointer;
    z-index: 1;

    border: none;
    background: none;
    color: none;
    
    opacity: 0;
}
input.sheet-tabcarga + span::before{
    content: "";

    border: none;
    text-align: center;
    float: left;
    background: none;
    width: 32px;
    height: 32px;
    font-size: 14px;
    font-weight: bold;

    margin-left: -32px;
    margin-right: 15px;

    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/scroll.png") !important;
    background-position: 0;
    background-size: 32px 32px;
    background-repeat: no-repeat;
}
input.sheet-tabcarga:checked + span::before{
    content: "✖";
    background:none;
    border: none;

    font-size: 32px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    color:red;

    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/scroll.png") !important;
    background-position: 0;
    background-size: 32px 32px;
    background-repeat: no-repeat;
}

div.sheet-tabtalentos-content { display: none; }
input.sheet-tabtalentos:checked ~ div.sheet-tabtalentos
{
    display: inline-block;
}
input.sheet-tabtalentos{
    width: 32px;
    height: 32px;
    
    float: left;
    cursor: pointer;
    z-index: 1;

    border: none;
    background: none;
    color: none;
    
    opacity: 0;
}
input.sheet-tabtalentos + span::before{
    content: "";

    border: none;
    text-align: center;
    float: left;
    background: none;
    width: 32px;
    height: 32px;
    font-size: 14px;
    font-weight: bold;

    margin-left: -32px;
    margin-right: 15px;

    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/scroll.png") !important;
    background-position: 0;
    background-size: 32px 32px;
    background-repeat: no-repeat;
}
input.sheet-tabtalentos:checked + span::before{
    content: "✖";
    background:none;
    border: none;

    font-size: 32px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    color:red;

    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/scroll.png") !important;
    background-position: 0;
    background-size: 32px 32px;
    background-repeat: no-repeat;
}

div.sheet-tabconjuros-content { display: none; }
input.sheet-tab1conjuros:checked ~ div.sheet-tab1conjuros,
input.sheet-tab2conjuros:checked ~ div.sheet-tab2conjuros
{
    display: inline-block;
}
input.sheet-tabconjuros{
    width: 32px;
    height: 32px;
    
    float: left;
    cursor: pointer;
    z-index: 1;

    border: none;
    background: none;
    color: none;
    
    opacity: 0;
}
input.sheet-tabconjuros + span::before{
    content: "";

    border: none;
    text-align: center;
    float: left;
    background: none;
    width: 32px;
    height: 32px;
    font-size: 14px;
    font-weight: bold;

    margin-left: -47px;
    margin-right: 15px;

    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/scroll.png") !important;
    background-position: 0;
    background-size: 32px 32px;
    background-repeat: no-repeat;
}
input.sheet-tabconjuros:checked + span::before{
    content: "✖";
    background:none;
    border: none;

    font-size: 32px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    color:red;

    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/scroll.png") !important;
    background-position: 0;
    background-size: 32px 32px;
    background-repeat: no-repeat;
}

div.sheet-tabnotas-content { display: none; }
input.sheet-tabnotas1:checked ~ div.sheet-tabnotas1,
input.sheet-tabnotas2:checked ~ div.sheet-tabnotas2,
input.sheet-tabnotas3:checked ~ div.sheet-tabnotas3
{
    display: block;
}
input.sheet-tabnotas{
    width:68px;
    height: 13px;
    top: 5px;
    left: 6px;
    margin: 4px;
    margin-top: 1px;
    margin-bottom: 6px;
    float: left;
    cursor: pointer;
    z-index: 1;
}
input.sheet-tabnotas::before{
    content: attr(title);

    border-radius:.5em;
    border:2px solid black;
    text-align: center;
    display: inline-block;
    
    background: #CCCCCC;
    color:black;
    width: 68px;
    height: 13px;
    font-size: 12px;
    font-weight: bold;
}
input.sheet-tabnotas:checked::before{
    background:black;
    color:white;
    border-radius:.5em;
    border:2px solid black;
}

div.sheet-tabgrimorio-content { display: none; }
input.sheet-tabgrimorio1:checked ~ div.sheet-tabgrimorio1,
input.sheet-tabgrimorio2:checked ~ div.sheet-tabgrimorio2
{
    display: block;
}
input.sheet-tabgrimorio{
    width:100px;
    height: 16px;
    top: 5px;
    left: 6px;
    margin: 4px;
    margin-top: 1px;
    margin-bottom: 3px;
    float: right;
    cursor: pointer;
    z-index: 1;
}
input.sheet-tabgrimorio::before{
    content: attr(title);

    border-radius:.5em;
    border:2px solid black;
    text-align: center;
    display: inline-block;
    
    background: #CCCCCC;
    color:black;
    width: 100px;
    height: 16px;
    font-size: 14px;
    font-weight: bold;
}
input.sheet-tabgrimorio:checked::before{
    background:black;
    color:white;
    border-radius:.5em;
    border:2px solid black;
}


div.sheet-tabedicion-content { display: none; }
input.sheet-tab2edicion:not(:checked) ~ div.sheet-tab1edicion,
input.sheet-tab2edicion:checked ~ div.sheet-tab2edicion
{
    display: inline-block;
}
input.sheet-tabedicion{
    width: 25px;
    height: 25px;
    
    float: left;
    cursor: pointer;
    z-index: 1;

    border: none;
    background: none;
    color: none;
    
    opacity: 0;
}
input.sheet-tabedicion + span::before{
    content: "";

    border: none;
    text-align: center;
    float: left;
    background: none;
    width: 25px;
    height: 25px;
    font-size: 14px;
    font-weight: bold;

    margin-left: -25px;
    margin-right: 15px;

    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/scroll.png") !important;
    background-position: 0;
    background-size: 25px 25px;
    background-repeat: no-repeat;
}
input.sheet-tabedicion:checked + span::before{
    content: "✖";
    background:none;
    border: none;

    font-size: 25px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    color:red;

    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/scroll.png") !important;
    background-position: 0;
    background-size: 25px 25px;
    background-repeat: no-repeat;
}

div.sheet-tabeditar-content { display: none; }
input.sheet-tabeditarref:checked ~ div.sheet-tabeditarref,
input.sheet-tabeditarvit:checked ~ div.sheet-tabeditarvit,
input.sheet-tabeditarvol:checked ~ div.sheet-tabeditarvol,
input.sheet-tabeditarest:checked ~ div.sheet-tabeditarest,
input.sheet-tabeditarmovimiento:checked ~ div.sheet-tabeditarmovimiento,
input.sheet-tabeditarenergia:checked ~ div.sheet-tabeditarenergia,
input.sheet-tabeditarher:checked ~ div.sheet-tabeditarher,
input.sheet-tabeditaresquiva:checked ~ div.sheet-tabeditaresquiva,
input.sheet-tabeditardesvio:checked ~ div.sheet-tabeditardesvio,
input.sheet-tabeditarpelea:checked ~ div.sheet-tabeditarpelea,
input.sheet-tabeditarconjuracion:checked ~ div.sheet-tabeditarconjuracion,
input.sheet-tabeditarintensidad:checked ~ div.sheet-tabeditarintensidad,
input.sheet-tabeditarceleridad:checked ~ div.sheet-tabeditarceleridad,
input.sheet-tabeditarattack1:checked ~ div.sheet-tabeditarattack1,
input.sheet-tabeditarattack2:checked ~ div.sheet-tabeditarattack2,
input.sheet-tabeditarattack3:checked ~ div.sheet-tabeditarattack3,
input.sheet-tabeditarattack4:checked ~ div.sheet-tabeditarattack4
{
    display: inline-block;
}

input.sheet-tabeditar{
    width: 20px;
    height: 20px;
    
    float: left;
    position:absolute;
    cursor: pointer;
    z-index: 2;

    border: none;
    background: none;
    color: none;
    
    opacity: 0;
}
input.sheet-tabeditar + span::before{
    content: "";

    border: none;
    text-align: center;
    float: left;
    position:absolute;
    background: none;
    width: 20px;
    height: 20px;
    font-size: 14px;
    font-weight: bold;

    

    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/scroll.png") !important;
    background-position: 0;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}
input.sheet-tabeditar:checked + span::before{
    content: "✖";
    background:none;
    border: none;

    font-size: 20px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    color:red;

    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/scroll.png") !important;
    background-position: 0;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}



/* Hide the toggle checkbox */
#sheet-expand-toggle {
    display: none;
  }
  
  /* Hide expandable content by default */
  .sheet-expandable {
    visibility: collapse;
    background: #ddd;
  }
  
  /* Style the button */
  #sheet-expand-btn {
    display: inline-block;
    margin-top: 12px;
    padding: 5px 11px;
    background-color: #ff7;
    border: 1px solid;
    border-radius: 3px;
  }
  
  /* Show hidden content when the checkbox is checked */
  #sheet-expand-toggle:checked ~ * .sheet-expandable {
    visibility: visible;
  }


/* ################################################### */
/* ############### BOTONES Y DIBUJOS ################# */
/* ################################################### */

.sheet-dibujito{
    height: 70px;
    width: 70px;
    margin-right: -9px !important;
    margin-left: 0px;
    position: relative;
    top: -11px;   
}

.sheet-dibujitoarm{
    height: 70px;
    width: 70px;
    margin-right: -9px !important;
    margin-left: 0px;
    position: relative;
    top: 19px;   
}

button[type=roll],
button[type=action],
button[type=compendium],
button[type=cancel],
button[type=submit],
button[type=finish],
button[type=back] {
    background-color: transparent;
    background-image: none;
    border: none;
    line-height: 12px;
    box-shadow: none;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    text-align:left;
    position:relative;
}

button[type=roll]::before {
    content: " " !important;
}

.sheet-botoncoliseo {
    position:relative;
    vertical-align: middle;
    width: 108px;
    margin-left: 5px !important;
    top: 10px !important;       
}

.sheet-imagencoliseo {
    position:relative;
    vertical-align: middle;
    height: 70px;
    width: 70px;
    margin-right: -15px !important;
    margin-left: 0px;
    top: 10px;   
    background-position: 0;
    background-size: 70px 70px;
    background-repeat: no-repeat;
}

.sheet-imagencoliseoarm {
    position:relative;
    vertical-align: middle;
    height: 50px;
    width: 50px;
    margin-right: -15px !important;
    margin-left: 0px;
    top: 10px;   
    background-position: 0;
    background-size: 50x 50px;
    background-repeat: no-repeat;
}

.sheet-botonimagen {
    position:relative;
    vertical-align: middle;
    height: 70px;
    width: 70px;
    margin-right: -15px !important;
    margin-left: 0px;
    top: -10px;   
    background-position: 0;
    background-size: 70px 70px;
    background-repeat: no-repeat;
}

.sheet-bconjuracion
{
    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/CCConjuracion.png") !important;
}
.sheet-bintensidad
{
    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/CCIntensidad.png") !important;
}

.sheet-bceleridad
{
    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/CCCeleridad.png") !important;
}

.sheet-besquiva
{
    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/CCEsquiva.png") !important;
}

.sheet-bdefensa
{
    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/CCBloqueo.png") !important;
}

.sheet-bpelea
{
    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/CCPelea.png") !important;
}

.sheet-battack1
{
    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/CCAtaque1.png") !important;
}

.sheet-bdesvio
{
    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/CCDesvio.png") !important;
}

.sheet-battack2
{
    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/CCAtaque2.png") !important;
}

.sheet-battack3
{
    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/CCAtaque3.png") !important;
}

.sheet-battack4
{
    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/CCAtaqueSA.png") !important;
}

.sheet-bdesviosa
{
    background-image: url("https://raw.githubusercontent.com/d12fallenwarrior/d12FallenWarrior/master/imagenes/CCDesvioSA.png") !important;
}


/* ################################################### */
/* ########### QUITAR FLECHITAS A INPUT ############## */
/* ################################################### */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/* ################################################### */
/* ################# CUSTOM CHECKS ################### */
/* ################################################### */
input.sheet-innata
{
    max-width: 2em;  
    width: 12px;
    height: 12px;
    position: relative;
    vertical-align: middle;
    margin-right: -6px !important;
}

input.sheet-fallida
{
    max-width: 1em;  
    width: 8px;
    height: 8px;
    position: relative;
    vertical-align: top;
    margin-right: -7px !important;
    margin-left: 3px !important;
}

input.sheet-innatacomb
{
    max-width: 2em;  
    width: 12px;
    height: 12px;
    position: relative;
    vertical-align: middle;
    margin-right: 3px !important;
    Top: -2px;
}

input.sheet-fallidacomb
{
    max-width: 1em;  
    width: 8px;
    height: 8px;
    position: relative;
    vertical-align: top;
    margin-right: 0px !important;
    margin-left: -6px !important;
}


/*----------------RANGO EXTRA---------------*/

input.sheet-rangoex
{
    max-width: 2em; 
    opacity: 0;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px; /*poner left 8 y margin -10 para q funcione*/
    cursor: pointer;
}

input.sheet-minirangoex
{
    max-width: 2em; 
    opacity: 0;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 3px;
    left: 0px;
    margin: 0px; /*poner left 8 y margin -10 para q funcione*/
    cursor: pointer;
}


input.sheet-rangovacio
{z-index: 4;}


input.sheet-rangovacio:checked + span + input.sheet-rangopos,
input.sheet-rangopos:checked + span + input.sheet-rangoneg,
input.sheet-rangoneg:checked + span + input.sheet-rangovacio { z-index: 5; }


input.sheet-rangoex:checked + span
{
    margin-right: -2px;
    border: solid 2px black;
    line-height: 8px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    z-index: 0;
    
    
    color:black;
    content: "•";
    width: 12px;
    height: 12px; 
    font-size: 1em;

    
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

input.sheet-minirangoex:checked + span
{
    margin-right: -3px;
    border: solid 2px black;
    line-height: 8px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    z-index: 0;
    
    
    color:black;
    content: "•";
    width: 8px;
    height: 8px; 
    font-size: 1em;

    
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}


/* ################################################### */
/* ################## CIRCULITOS ##################### */
/* ################################################### */

/* -----Hide actual radio----- */
input.sheet-rango[type="radio"],
input.sheet-rangorojo[type="radio"],
input.sheet-rango2[type="radio"],
input.sheet-rango3[type="radio"],
input.sheet-rango4[type="radio"]
{
    max-width: 2em;  
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/* -----Fake radio (los circulitos que sí se ven)----- */

input.sheet-rango[type="radio"] + span::before
{
    margin-right: 5px;
    border: solid 2px black;
    line-height: 12px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    background-color: black;
    
    
    color:black;
    content: "•";
    width: 12px;
    height: 12px; 
    font-size: 1.4em;

    /*Esto hace que sean círculos en vez de cuadrados ••●∴⋅⬤*/
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

input.sheet-rangorojo[type="radio"] + span::before
{
    margin-right: 5px;
    border: solid 2px black;
    line-height: 12px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    background-color: rgb(100, 0, 0);
    
    
    color: rgb(100, 0, 0);
    content: "•";
    width: 12px;
    height: 12px; 
    font-size: 1.4em;

    /*Esto hace que sean círculos en vez de cuadrados ••●∴⋅⬤*/
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

input.sheet-rango2[type="radio"] + span::before
{
    margin-right: 4px;
    border: solid 2px black;
    line-height: 12px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    background-color: black;
    
    
    color:black;
    content: "•";
    width: 12px;
    height: 12px; 
    font-size: 1.4em;

    /*Esto hace que sean círculos en vez de cuadrados ••●∴⋅⬤*/
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

input.sheet-rango3[type="radio"] + span::before
{
    margin-right: 5px;
    border: solid 2px black;
    line-height: 8px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    background-color: black;
    
    color:black;
    content: "•";
    width: 8px;
    height: 8px; 
    font-size: 1em;


    /*Esto hace que sean círculos en vez de cuadrados (puntos varios: •∴⋅⬤)*/
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

input.sheet-rango4[type="radio"] + span::before
{
    margin-right: 5px;
    border: solid 2px black;
    line-height: 3px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    background-color: black;
    
    color:black;
    content: " ";
    width: 11px;
    height: 2px; 
    font-size: 1em;

}



/* -----Remove dot from all radios _after_ selected one----- */
input.sheet-rango[type="radio"]:checked ~ input.sheet-rango[type="radio"] + span::before,
input.sheet-rangorojo[type="radio"]:checked ~ input.sheet-rangorojo[type="radio"] + span::before,
input.sheet-rango2[type="radio"]:checked ~ input.sheet-rango2[type="radio"] + span::before,
input.sheet-rango3[type="radio"]:checked ~ input.sheet-rango3[type="radio"] + span::before,
input.sheet-rango4[type="radio"]:checked ~ input.sheet-rango4[type="radio"] + span::before
{    
    content: "";
    background-color: transparent !important;
}

/*------------empty traits-----------*/
input.sheet-zero[type="radio"]:checked + span::before
{
    opacity: 0;
}

input.sheet-zero[type="radio"]:hover + span::before
{
    opacity: 1;
}

input.sheet-zero[type="radio"] + span::before
{
    content: "✖";
    opacity: 0.15;
    background-color: transparent;
    border: none;
    margin-right: 6px !important;
    margin-left: -6px !important;
}